/*
    Examples d'animations :
        - https://animate.style/

*/


:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
}

/* Animation des grille */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.anim_fadeInUp {visibility: hidden;}
.anim_fadeInUp.detectview_inview {
    visibility: inherit;
    animation-duration: 1s;
    animation-name: fadeInUp;
}