/* Les labels des formulaires funky / animés */
.formulaire_spip input.text, .formulaire_spip textarea { padding:0.25rem; width: 100%; background:rgba(120,120,120,0.1);
    border:0; border-bottom:1px solid rgba(51,51,51, 0.5); font-family:inherit; font-size:inherit;
    transition: border-color var(--duree-transition);}
.formulaire_spip .focused input.text, .formulaire_spip .focused textarea { border-color:var(--coul-emphase); }
.formulaire_spip input.submit { cursor:pointer; height:100%; }
.formulaire_spip:not(.formulaire_login) .editer > label  { display: block; position:relative; line-height:1em; text-align: left; color:#666;
    transform-origin:0 50%; transform:translate(0.5em,120%); 
	transition:transform var(--duree-transition), opacity var(--duree-transition), color var(--duree-transition);}
.formulaire_spip:not(.formulaire_login) .focused label { transform:translateY(0); opacity:1; transform:scale(0.8); color:#333;}
.formulaire_spip:not(.formulaire_login) input.text, .formulaire_spip textarea { position:relative; -webkit-appearance:none; }
/* Form de recherche */
#formulaire_recherche .editer-groupe { position: relative; }
#formulaire_recherche label { position: absolute; top:50%; left:0.25rem; transform: translateY(-50%);
	transition:color var(--duree-transition); }
#formulaire_recherche .focused label { color: transparent; }