/* --------------------------------------------------

   links.css
   Liens hypertextes
   (c) 2010-2016 Tiny Typo v1.3 - MIT License - tinytypo.tetue.net

----------------------------------------------------- */
/* Hyperliens
[fr] Signalétique des hyperliens : http://letrainde13h37.fr/43/signaletique-hyperliens/ */
a {
  background: transparent;
  color: inherit;
}
/*  Accessibilité : https://www.sarasoueidan.com/blog/focus-indicators/ */
:focus {
   /* optionnel, pour les vieux nav qui ne supportent pas :focus-visible, genre IE */
  outline: 2px solid var(--coul-emphase);
}
:focus:not(:focus-visible) {
  /* on retire le style au focus de base (clic souris) */
  outline: none;
}
:focus-visible {
  /* focus au clavier uniquement, avec un outline très sombre + box-shadow très clair
      pour que ça marche quel que soient les couleurs de texte et de background */
  outline: 4px solid var(--coul-emphase);
  box-shadow: 0 0 0 4px var(--coul-fond);
  outline-offset: 4px;
}
textarea:focus-visible,
select:focus-visible,
input:focus-visible {
      outline: 0;
      box-shadow: none;
      outline-offset: 0;
}
a:after,
a:before,
a small {
  font-size: 90%;
  opacity: .9;
}
a[hreflang]:after {
  content: "\0000a0[" attr(hreflang) "]";
}
/* Liens externes */
a.spip_out:not(.masquer):after,
a.external:not(.masquer):after {
  content: "\0000a0\279A";
}
a[hreflang].spip_out:after,
a[hreflang].external:after {
  content: "\0000a0[" attr(hreflang) "]\0000a0\279A";
}
/* mailto / tel */
a.spip_mail:after,
a.mailto:after {
  content: "\0000a0\2709";
}
a.tel:after {
  content: "\0000a0\2706";
}
/* Documents */
a.download:after {
  content: "\0000a0\21A7";
}
a[hreflang].download:after {
  content: "\0000a0[" attr(hreflang) "]\0000a0\21A7";
}
a.audio:after {
  content: "\0000a0\266B";
}
a[hreflang].audio:after {
  content: "\0000a0[" attr(hreflang) "]\0000a0\266B";
}
/* Liens images */
a img {
  border: 0;
}

@media print {
  a,
  a:visited {
    text-decoration: underline;
  }
  a:after {
    content: '';
  }
	a.spip_url:after,
  a[rel="external"]:after,
  a.external:after {
    content: " (" attr(href) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: '';
  }
  /* Ne pas montrer les liens sur images ou javascript / liens internes */
}

/* fin */