@media screen and (min-width: 1200px) { 

    .nav-menu { z-index: 15; }

    /* first descendant link within a top level navigation item */
    .nav-item > a { position: relative; }

    /* open state of first descendant link within a top level navigation item */
    .nav-item > a.open { z-index: 1; }

    /* sub-navigation panel */
    .sub-nav { position: absolute; z-index: 100; display: none; background: #fff; 
        box-shadow:
        0 0.8px 2.1px rgba(0, 0, 0, 0.02),
        0 1.9px 5.1px rgba(0, 0, 0, 0.028),
        0 3.6px 9.5px rgba(0, 0, 0, 0.035),
        0 6.5px 17px rgba(0, 0, 0, 0.042),
        0 12.1px 31.8px rgba(0, 0, 0, 0.05),
        0 29px 76px rgba(0, 0, 0, 0.07) ;
    }

    /* sub-navigation panel open state */
    .sub-nav.open { display: block; }

    /* Animation ouverture */
    a.open + * { animation: menu-folding-in 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; }
    @keyframes menu-folding-in {
        0% {
            transform: rotateX(-100deg);
            transform-origin: top;
            opacity: 0;
        }
        100% {
            transform: rotateX(0deg);
            transform-origin: top;
            opacity: 1;
        }
    }
}