@font-face { 
    font-family:'NomFont'; 
    src: url('../polices/NomFont.woff2') format('woff2'),
        url('../polices/NomFont.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
    font-display: swap;
}

/* LES VARIABLES CSS */
:root { 
    --font-titre: 'NomFont', Arial, Helvetica, sans-serif; 
    --font-contenu: 'NomFont', Arial, Helvetica, sans-serif; 
    --font-contenu-bold: 'NomFont-bold', Arial, Helvetica, sans-serif;
    --coul-fond: #f3f3f3;
    --coul-texte: #231f20;
    --coul-emphase: #708c9d;
    --largeur: 1200px ;
    --duree-transition: 0.2s ;
}

html { font-size: clamp(80%, calc(-.8em + 3.8vw), 100%); }
body { background: var(--coul-fond); font-family: sans-serif; }

h1, .h1, h2, .h2, h3, .h3 { font-family: var(--font-titre); line-height: 1em; text-wrap: balance;  }
h1, .h1 { font-size: 2.75rem; }
h2, .h2 { font-size: 2.25rem; }
h3, .h3 { font-size: 1.5rem; }
h4, .h4 { font-size: 1.0625rem; }

strong { font-weight: normal; font-family: var(--font-contenu-bold); }

.page { font-size: 1.125rem; color: var(--coul-texte); font-family: var(--font-contenu); }
.container { margin:auto; padding:0.5rem; width: var(--largeur); max-width: 100%; }

.chapo a, .texte a {color: ; text-decoration: underline;}
.chapo a:hover, .chapo a:active, .chapo a:focus,
.texte a:hover, .texte a:active, .texte a:focus { color: var(--coul-emphase) ; }
