@media (min-width: 640px) { 
	blockquote.spip { margin-bottom:2em; padding-left:55px; font-size:1.25em; line-height: 1.5em; background-size: 50px 50px; }
}

@media screen and (max-width: 900px) { 
	#header .container { padding: 0; }
	#navprincipale button.burger[aria-expanded="true"] + #menuprincipal { visibility:visible; opacity: 1; color: var(--coul-fond);}
	#menuprincipal { z-index: 1100; visibility: hidden; opacity: 0; position: fixed; top: 0; right: 0; 
		padding-top: 5rem; overflow-y: scroll; width: 100%; height: 100%; text-align: center; background: var(--coul-texte);
		overscroll-behavior-y: contain; overflow-y: auto;
		transition: opacity 0.35s; }
}

@media (min-width: 900px) { 
	#navprincipale button.burger { display: none ; }
	#menuprincipal { display: flex; justify-content: space-between; }
}

/* *** RWD *** */

@media (max-width: 640px) { 
	/* layout */
	.container { display:inherit; }
	/*.wrapper,
	.main,
	.aside { width:100%; }*/

	.aside { padding-top:1em; border-top: 1px solid #b6b6b6; }

	.header .spip_logo_site, .header #slogan { width:100%; text-align:center; }

	figure figcaption .legende { font-size:0.8em; }

	blockquote.spip { margin-bottom:1em; padding-left:1.5em; }

	.page_recherche .main .resultats { margin:auto; max-width:360px; }
	.page_recherche .main .resultats .item a { display: block; }
	.page_recherche .main .resultats .item .vignette_zcm { margin:0 0 1em 0; width: auto; }
}