/* *** Le lien qui ramène à l'accueil *** */
.accueil a { display: block; }

/* *** La navigation principale *** */
/* Le bouton */
#navprincipale button.burger { position: fixed; z-index: 1111; top: 0.5rem;  right: 0.5rem; display: flex; justify-content: center; align-items: center; 
	padding: 0; border: 0; color: var(--coul-texte); background: transparent; text-decoration: none; cursor: pointer; 
	transition: color var(--duree-transition); }
/* Hover */
#navprincipale button.burger:hover, #navprincipale button.burger[aria-expanded="true"]:hover  { color: var(--coul-emphase); }
/* Active */
#navprincipale button.burger:active { color: var(--coul-emphase); }
/* Ouvert */
#navprincipale button.burger[aria-expanded="true"] { background: transparent; color: var(--coul-fond); }
/* transformer ☰ en × */
#navprincipale button.burger[aria-expanded="true"] path:nth-child(1) { d: path("M4 20L20 4");}
#navprincipale button.burger[aria-expanded="true"] path:nth-child(2) { display: none; }
#navprincipale button.burger[aria-expanded="true"] path:nth-child(3) { d: path("M4 4L20 20");}
/* Menu principal */
#menuprincipal .on a, #menuprincipal a:hover, #menuprincipal a:focus, #menuprincipal a:active { color: var(--coul-emphase); }
/* La navigation principale, le fil d'Ariane et les menus/listes */
.fildariane { margin-bottom:1rem; font-size: 0.875rem;}
ul.menu-items, ul.liste-items, ul.breadcrumb-items, ul.grille-items { margin-bottom: 0; list-style: none;}
ul.menu-items li.item { padding:0.2em; }
ul.menu-items > li.item, ul.breadcrumb-items > li.item { display:inline-block; }
ul.liste-items a:link, ul.menu-items a:link, ul.breadcrumb-items a:link, ul.grille-items a:link { text-decoration:none; }
ul.liste-items a:link, ul.menu-items a:link, ul.grille-items a:link { display:block; }


/* *** LA PAGINATION *** */
.pagination .pagination-items { list-style: none; display: flex; flex-direction: row; justify-content: center; }
.pagination .pagination-item { margin: 0em; flex-basis: 7.5%; display: flex; align-items: center; color: var(--coul-emphase); }
.pagination .pagination_precedent_suivant .pagination-item { flex-basis: auto; }
.pagination .pagination-item + .pagination-item { margin-left: 0.5em }
.pagination .pagination-item-label { display:block; flex-basis: 100%; text-decoration: none; padding:.5em; text-align: center; }
.pagination li .pagination-item-label {  background: transparent; color: var(--coul-emphase); border: 1px solid var(--coul-emphase); 
	transition: background var(--duree-transition); }
.pagination ul:not(.pagination_precedent_suivant) li.prev .pagination-item-label,
.pagination ul:not(.pagination_precedent_suivant) li.next .pagination-item-label { color: inherit; background: inherit; border: inherit; }
.pagination span.pagination-item-label.on,
.pagination a.pagination-item-label:hover,
.pagination a.pagination-item-label:focus,
.pagination a.pagination-item-label:active { color: #fff; background: var(--coul-emphase); text-decoration: none; }
.pagination .disabled.tbc  { visibility: inherit; }
.pagination .disabled span.pagination-item-label { background: transparent; color: #999;}

/* *** LES FORMULAIRES *** */
.formulaire_spip { margin:1.5em auto; max-width:500px; }
.formulaire_spip legend { font-size:1.2em; }
.formulaire_spip .editer { margin: 0; }
.formulaire_spip label { display: block; margin-right:0.25rem; line-height:1.125em; font-size: 1em; font-weight: normal; }
.formulaire_spip label strong, .formulaire_spip span.obligatoire { font-family:inherit; font-weight:normal; font-style:italic; font-size:0.75em; opacity: 0.6; }
.formulaire_spip input.text, .formulaire_spip textarea { padding:0.5rem; width: 100%; font-size: 0.875em; font-family:inherit; font-size:inherit; transition:background-color var(--duree-transition), color var(--duree-transition); }
.formulaire_spip .petit { font-size: 0.875em; }
.formulaire_spip .submit { cursor:pointer; padding:0.25em 0.75em; height:100%; border:0; background: var(--coul-texte); color:#fff; 
	transition: background-color var(--duree-transition), color var(--duree-transition); }
.formulaire_spip .submit:hover, .formulaire_spip .submit:focus, .formulaire_spip .submit:active  { background: var(--coul-emphase); }
/* autres */
#formulaire_login .details a { color:#777; font-size:0.8em; text-decoration:none; }
#formulaire_login .choix label { display: inline-block; }
#formulaire_contact label[for="infolettre"] { display: flex; }
#formulaire_contact label[for="infolettre"] p {margin: 0; }
#formulaire_recherche .editer-groupe { display: flex; }
#formulaire_recherche input.submit { line-height: 2rem; }