* { box-sizing:border-box; }
html { scroll-behavior: smooth; }   
@media (prefers-reduced-motion: reduce) {
	html {scroll-behavior: auto; }
}
body { padding:0; }
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small { display:block; line-height:1em; }
hr { clear:both; }

a { transition: background-color var(--duree-transition), color var(--duree-transition); text-decoration: none; }

/* Le menu d'accès rapide */
#accesrapide { position: fixed; z-index: 200; left: 0.5em; opacity: 0; top: 1em; color: #fff; background: #000;
	transform: translateY(-10em); transition: transform var(--duree-transition), opacity var(--duree-transition); }
#accesrapide.actif { opacity: 1; transform: translateY(0em); }
#accesrapide a:hover, #accesrapide a:active, #accesrapide a:focus { background-color: #fff; color: #000;}

/* *** LA PAGE DE LOGIN *** */
.page_login .main #formulaire_menu_lang, .page_login .main .formulaire_login { margin:1rem auto; max-width:25em; }

/* *** LES MENUS *** */

/* *** LE PIED DE PAGE *** */
#footer { color:inherit; }
#footer .logo-site { display: block;}
#footer a { text-decoration:none; }
#footer a:hover, #footer a:active, #footer a:focus { text-decoration: underline; }

/* *** LES IMAGES *** */
.diaporama figure { margin:0; }
.spip_documents_left { clear: left; max-width: 40%; }
.spip_documents_right { clear: right; max-width: 40%; }
svg { vertical-align:top; height:auto; max-width:100%; }
svg use { transition:fill var(--duree-transition); }
a:visited use { fill:inherit; stroke:inherit; }

/* *** LES GRILLES *** */
ul.grille-items figure { margin-bottom: 0.5rem;}
ul.grille-items a { display: block; height: 100%;}

/* *** LES GALERIES *** */
/* Diaporama */
.diaporama ul { margin: 0;}
/* portofolio (spip) */
ul.portfolio { display:flex; flex-wrap:wrap; justify-content:center; }
ul.portfolio li { margin:0.5em; }
ul.portfolio li p { margin:0; }
ul.portfolio li a, ul.portfolio li a:hover, ul.portfolio li a:active, ul.portfolio li a:focus { text-decoration:none; }
ul.portfolio li figure { margin:0; }

/* player oembed */
body .spip_documents .oembed { padding:0; border:0; }
body .oe-play-button button,
body .oe-play-button button::before { margin:0; width:100px; transform:translate(-50%,-50%); border-radius:5%; }
body .oe-play-button button,
body .oembed_audio .oe-play-button button { background: rgba(33, 33, 33, 0.8); transition: background var(--duree-transition); }
body .oe-play-button:hover button, body .oe-play-button button:focus { background: #ee4c32; }
body .oembed_rich .oe-play-button button,
body .oembed_audio .oe-play-button button { transform: translate(0,-50%); }
body .oe-play-button button::before { content:none; display:none; }
body .oe-play-button button::after { border-left-color: #fff; }
body .spip_documents.oembed figcaption.spip_doc_legende { max-width: none; font-size: 0.75em;}
.oembed figcaption a { color: inherit; text-decoration:none; }
.oe-author br { display:none; }

/* la page recherche */
.page_recherche .main .resultats {margin-top:5em;}
.page_recherche .main .resultats .item { margin-bottom:1em; text-align:left;}
.page_recherche .main .resultats .item a { display: flex; justify-content: space-between; align-items: center;}
.page_recherche .main .resultats .item .vignette_zcm { margin-right:1em; width: 45%; }
.page_recherche .main .resultats .item .resume {font-size:1.125rem; flex: 1;}

/* la page agenda */
#agenda-liste .liste-items .item { margin-bottom:1em; text-align:left; }
#agenda-liste .liste-items .item .vignette_zcm { margin-bottom:1em; }
#agenda-liste .liste-items .item .resume { font-size:1.125rem; }
#agenda-liste .liste-items .item abbr[title] { border:0}
#agenda-liste .liste-items .evenement .banner { opacity:1; }

/* La page plan */
.plan { text-align: center; }
.plan ul.liste-items { margin-bottom: 1.5rem; }
.plan a { text-decoration:none; }
.plan a:hover { text-decoration:underline; }

/* *** SURCHARGE DU STYLE DE LA DIST
  	cf https://git.spip.net/spip/dist/src/branch/master/css/spip.css#L202 *** */
.on {font-weight:inherit;}

/* *** DIVERS *** */
picture { vertical-align:top; }
.spip_logo { float: none; margin: 0; }
.min { text-transform: none;}
.maj { text-transform: uppercase;}

/* Portfolio et documents joints */
.documents_portfolio, .documents_joints { margin-bottom: 1.5em;}
.liste.documents li.item { margin-bottom:1em; }
.liste.documents .document { display: flex; }
.liste.documents .spip_logo { flex-basis: 64px; float: none; }
.liste.documents .document > div { flex: 1; margin-left: .5em; }

figcaption.spip_doc_intitules { margin-left:50%; min-width:200px; transform:translateX(-50%); }

a.external::after { opacity: 0.3; transition: var(--duree-transition) opacity; }
a.external:hover::after { opacity: 1; }

/* Nom de l'organisation du modèle identité extra*/
.schema.organization .organization__nom a { text-decoration:none; }

/* Les boutons d'admin */
#spip-admin { z-index: 1000; display: flex; flex-direction: column; top: 45%; right: 0; text-align: right;}
#spip-admin a.spip-admin-boutons { margin-bottom: 0.2em; background: var(--coul-texte); border:1px solid var(--coul-fond); color: var(--coul-fond); border-radius:0; font-weight:normal; opacity:1; font-size: 0.9rem; }
#spip-admin a.spip-admin-boutons:hover, #spip-admin a.spip-admin-boutons:active, #spip-admin a.spip-admin-boutons:focus { background: var(--coul-fond); color: var(--coul-texte); border-color: var(--coul-texte); }

.texte-invisible { display:block; color:transparent; text-indent:-9999em; }
.invisible { position:absolute; clip: rect(0, 0, 0, 0); overflow:hidden; margin:0; padding:0; width:1px; height:1px; white-space:nowrap; border: 0; }

/* *** LES MODELES *** */
/* modele vignette rwd */
.vignette_zcm { max-width:100%; }
.vignette_zcm .spip_logo { float: none; }

/* *** FIX *** */
/* Fix Tiny typo */
figure.spip_doc_inner figcaption { font-size:0.875rem; }
a:focus img, a:active img { transform:none; }
blockquote.spip { margin-bottom:2em; padding-left:35px; border:0; font-size:1.125em; min-height: 40px; line-height: 1.5em;
	background: url('../images/quote.svg') no-repeat top left; background-size: 30px 30px; }
blockquote.spip::before { display: none; content: ''; }
.table th, .table td { border:0; }
.table tbody tr:hover td { background:inherit; }

/* Les crayons */
body .crayon-has { display: block; } /* Pour que le formulaire d'édition prenne toute la largeur */
body .crayon-html, body .crayon-html input { color: #231f20 !important; font-family: Arial, Helvetica, sans-serif !important; }
body .crayon-html .formulaire_spip::before { background: #fff; box-shadow: 0 0 55px rgba(51,51,51, 0.75) ; opacity: 1; }
body .crayon-html .crayon-active { background: inherit !important; color: inherit !important; }
/*.formulaire_crayon .crayon-active.text, .formulaire_crayon .markItUpContainer { box-shadow: 0 0 55px rgba(51,51,51, 0.75) ; }*/
body .formulaire_crayon .markItUpContainer { border-radius: 6px 6px 0 0; border: 0; }
body .formulaire_crayon .crayon-active.markItUpEditor { border-bottom: 0; }
body .formulaire_crayon .markItUp .markItUpFooter { padding: 0.5em 0; background-color: #edf2f4 ; }
body .crayon-html .crayon-boutons button { position: relative; border: 0; background-color: transparent; }
body .crayon-html .crayon-boutons button.crayon-cancel::after { display: block; content: ''; border-right: 1px solid rgba(51,51,51); 
	position: absolute; right: -0.25em; height: 100%; top: 0; }