﻿[(#REM)

Affichage des dates d'un événement
	
	Exemple d'insertion : <INCLURE{fond=inclure/dates-evenement,id_article} />

	Paramètres à passer via l'env
	- affichage_long : oui/non (défaut : oui)
	- sep : le séparateur souhaité pour l'affichage court (défaut : >)

][(#SET{affichage_long,#ENV{affichage_long,oui}})
][(#SET{sep,#ENV{sep,>}})
][

(#REM) 

	On rentre tous les évènements par date dans un tableau

][(#SET{dates_debuts,#ARRAY})][(#SET{dates_fins,#ARRAY})
]<BOUCLE_evenements(EVENEMENTS){evenements.statut=publie}{id_article?}{id_evenement?}{par date_debut}>#SET{nb_ev,#TOTAL_BOUCLE}#SET{dates_debuts, #GET{dates_debuts}|push{#DATE_DEBUT}}#SET{dates_fins, #GET{dates_fins}|push{#DATE_FIN}}</BOUCLE_evenements>[

(#REM) Avec 3 boucles DATA, on sort :
		- la date de debut du 1er evenement
		- la date de fin du 1er evenement
		- la date de debut du dernier evenement
		
]<BOUCLE_date_debut_premier(DATA){source tableau,#GET{dates_debuts}}{0,1}{par cle}>#SET{date_debut_premier,#VALEUR}</BOUCLE_date_debut_premier>
<BOUCLE_date_fin_premier(DATA){source tableau,#GET{dates_fins}}{0,1}{par cle}>#SET{date_fin_premier,#VALEUR}</BOUCLE_date_fin_premier>
<BOUCLE_date_debut_dernier(DATA){source tableau,#GET{dates_debuts}}{0,1}{!par cle}>#SET{date_debut_dernier,#VALEUR}</BOUCLE_date_debut_dernier>
[(#GET{nb_ev}|=={1}|?{
	[(#GET{date_debut_premier}|affdate{j/m/Y}|=={#GET{date_fin_premier}|affdate{j/m/Y}}|?{
		[(#REM) cas 1 > 1 eve meme jour
		][(#ENV{affichage_long}|=={oui}|?{
			[(#GET{date_debut_premier}|nom_jour)] [(#GET{date_debut_premier}|affdate)]
		,
			[(#GET{date_debut_premier}|affdate{j/m/Y})]
		})]		
	,
		[(#REM) cas 2 > 1 eve sur pls jours
		][(#ENV{affichage_long}|=={oui}|?{ 
			[(#GET{date_debut_premier}|nom_jour)] [(#GET{date_debut_premier}|affdate{j})] [(#GET{date_debut_premier}|nom_mois)] [(#GET{sep})] [(#GET{date_fin_premier}|nom_jour)] [(#GET{date_fin_premier}|affdate)]
		,
			[(#GET{date_debut_premier}|affdate{j/m})] [(#GET{sep})] [(#GET{date_fin_premier}|affdate{j/m/Y})]
		})]
		
	})]
,
	[(#GET{date_debut_premier}|affdate{j/m/Y}|=={#GET{date_debut_dernier}|affdate{j/m/Y}}|?{
		[(#REM) cas 3 > pls ev meme jours
		][(#ENV{affichage_long}|=={oui}|?{ 
			[(#GET{date_debut_premier}|nom_jour)] [(#GET{date_debut_premier}|affdate)]
		,
			[(#GET{date_debut_premier}|affdate{j/m/Y})]
		})]
	,
		[(#REM) cas 4 > pls ev sur pls jours
		][(#ENV{affichage_long}|=={oui}|?{ 
			[(#GET{date_debut_premier}|nom_jour)] [(#GET{date_debut_premier}|affdate{j})] [(#GET{date_debut_premier}|nom_mois)] [(#GET{sep})] [(#GET{date_debut_dernier}|nom_jour)] [(#GET{date_debut_dernier}|affdate)]
		,
			[(#GET{date_debut_premier}|affdate{j/m})] [(#GET{sep})] [(#GET{date_debut_dernier}|affdate{j/m/Y})]
		})]
	})]
})]