[(#REM)

Liste des documents joints autres que les images

	Exemple d'insertion : <INCLURE{fond=inclure/documents,id_article} />
		ou <INCLURE{fond=inclure/documents,id_rubrique} />


	Les paramètres :
		- titre : titre de la liste (défaut <:zcm:a_telecharger:>)
		- titre_balise : balise du titre de la liste (défaut h2)
		- titre_classe : classe du titre de la liste (défaut titre_balise)
		- id_article ou id_rubrique : pour restreindre aux images d'un artuicle/rubrique
			Note : pour ne pas avoir, dans un article, les images liées à la rubrique ajouter id_rubrique=#EVAL{null}
		- extensions_exclues (array) : liste d'exrtensions à exclure
		- media : pour restreindre à un type de media
		- objet (string) : pour restreindre aux images d'un type d'objet
		- id_objet (int) : pour restreindre aux images à un numéro d'objet

]<B_documents_joints>
<div class="liste documents documents_joints">
	[<#ENV{titre_balise,h2} [ class="(#ENV{titre_classe,#GET{titre_balise}})"]>
		(#ENV{titre,<:zcm:a_telecharger:>})
	</#ENV{titre_balise,h2}>]
	<ul class="liste-items">
		<BOUCLE_documents_joints(DOCUMENTS)
			{id_article?}
			{id_rubrique?}
			{id_evenement?}
			{objet?}{id_objet?}
			{extension !IN gif,jpg,png}
			{extension !IN #ENV{extensions_exclues}}
			{media?}
			{vu=non}
			{par rang_lien, num titre, date}
			{doublons documents}
		>
		<li class="item clearfix"><INCLURE{fond=inclure/resumes/document,id_document}></li>
		</BOUCLE_documents_joints>
	</ul>
</div>
</B_documents_joints>