[(#REM)

	Head standard de toutes les pages
	Les éléments spécifiques aux objets (title, description) figurent dans les squelettes head/{objet}.html

][(#REM) Fierement fabrique avec SPIP 
]<meta name="generator" content="SPIP[ (#SPIP_VERSION)]" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
[
(#REM) Lien vers le flux RSS du site 
][<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="(#URL_PAGE{backend})" />][

(#REM) Base CSS sans styles graphiques ][
<link rel="stylesheet" href="(#CSS{css/reset.css})" />][
<link rel="stylesheet" href="(#CSS{css/clear.css})" />][
<link rel="stylesheet" href="(#CSS{css/links.css})" />][
<link rel="stylesheet" href="(#CSS{css/typo.css})" />][
<link rel="stylesheet" href="(#CSS{css/media.css})" />][
<link rel="stylesheet" href="(#CSS{css/form.css})" />][
<link rel="stylesheet" href="(#CSS{css/tinyfix.css})" />][

(#REM) Style SPIP et ses plugins][
<link rel="stylesheet" href="(#CSS{css/spip.css})" />][

(#REM) Balise permettant aux plugins d'inserer des fichiers CSS ]
#INSERT_HEAD_CSS

[(#REM) Préchargement des fichiers de police ][
<link rel="preload" href="(#CHEMIN{polices/police1.woff})" as="font" type="font/woff" crossorigin>][
<link rel="preload" href="(#CHEMIN{polices/police1.woff2})" as="font" type="font/woff2" crossorigin>][

(#REM) Feuille de style pour les polices externes type myfonts.com ][
<link rel="stylesheet" href="(#CSS{css/polices.css})" id="nocompresseur" />][

(#REM) Feuilles de styles du theme ][
<link rel="stylesheet" href="(#CSS{css/zcm.css})" />][
<link rel="stylesheet" href="(#CSS{css/ui.css})" />][
<link rel="stylesheet" href="(#CSS{css/perso.css})" />][
<link rel="stylesheet" href="(#CSS{css/rwd.css})" />][

(#REM) Feuille de style si javascript n'est pas activé (animations...) ][
<noscript><link rel="stylesheet" href="(#CSS{css/noscript.css})" id="nocompresseur" /></noscript>]

[(#REM) Balise permettant aux plugins d'inserer des appels javascript ou css ;
	C'est ici que SPIP va inserer l'appel de la librairie jQuery
	Et appeler a la fin compacte_head pour agreger et compacter tout le head dans des fichiers statiques
	si l'option est cochee dans Configuration
]
#INSERT_HEAD
[<script src="(#CHEMIN{javascript/prefixfree.js}|timestamp)"></script>]