[<!--(#REM)

	http://schema-creator.org/organization.php	
		
-->]
<div class="identite_extra schema organization" itemscope itemtype="http://schema.org/Organization">
	[<div itemprop="name" class="item organization__nom">
		<a itemprop="url" href="#URL_SITE_SPIP"><strong>(#IDENTITE_NOM_ORGANISATION)</strong></a>
	</div>]
	[<div class="organization__adresse item" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<i class="icon-location"></i>
		<span class="item__sub">
			<span itemprop="streetAddress">(#IDENTITE_ADRESSE)</span><span class="sep"> - </span>
		</span>
		<span class="item__sub">
			[<span class="code-postal zip" itemprop="postalCode">(#IDENTITE_CODE_POSTAL)</span>][
			<span class="ville" itemprop="addressLocality">(#IDENTITE_VILLE)</span>][<span class="sep">, </span>
			<span class="region" itemprop="addressRegion">(#IDENTITE_REGION)</span>][<span class="sep">, </span>
			<span class="pays" itemprop="addressCountry">(#IDENTITE_PAYS)</span>]
		</span>
	</div>]
	<div class="item">
		[<span class="organization__tel"><a href="tel:#IDENTITE_TELEPHONE" class="organization__telephone telephone"><span itemprop="telephone">(#IDENTITE_TELEPHONE)</span></a></span>]
		<span class="organization__sep"> | </span>
		[<span class="organization__mail"><a href="mailto:#IDENTITE_EMAIL" class="organization__email email"><span itemprop="email">(#IDENTITE_EMAIL)</span></a></span>]
	</div>
</div><!-- .schema.organization -->