[(#REM)

Affichage type agenda sous forme de grille

	Exemple d'insertion : <INCLURE{fond=inclure/grilles/evenements, env, ajax,
										agenda=oui} />
	
	Les paramètres : 
		- agenda : détermine si on affiche uniquement les événements à venir (mode agenda)
					ou tous les événements de la rubrique en cours (mode saison) (défaut non)
		- titre : titre de la grille (défaut '')
		- balise_titre : balise du titre de la grille (défaut h2)
		- gouttiere : gouttière entre les vignettes de la grille (défaut oui)
		- nb_colonnes : nombre de colonnes dans la grille (défaut 3)
		- nb_colonnes_small : nombre de colonnes dans la grille sur petit écran (défaut 2)
		- nb : nombre d'item à afficher dans la liste (défaut 999999)
		- pagination : nombre pour la pagination (défaut 9)
		- masquer_mois : oui/non (défaut non)
		- balise_titre_mois : balise du titre des items affichant le mois (défaut h2)
		- classe_figure : classe de la balise figure (defaut '') / Utiliser spip_documents rond illustration pour avoir un rond
		- balise_titre_article : balise du titre des vignettes (dafaut h3)
		- classe_titre_evenement : classe du titre des vignettes (dafaut .h3)
		- couper_titre_article : nb de caractère pour couper le titre (défaut 60)
		- masquer_date_article : afficher les dates des événements (dafaut non)
		- masquer_soustitre_article : afficher le soustitre de l'article (dafaut non)
		- couper_soustitre_article : nb de caractères du soustitre (defaut 80)
		- masquer_intro_article : afficher l'intro de l'article (dafaut non)
		- couper_intro_article : nb de caractères de l'intro (defaut 250)
		- masquer_pagination : oui/non (défaut non)
		- modele_pagination (défaut page_precedent_suivant)
		- label_precedent/label_suivant : texte liens de pagination
		- message_aucun : texte si pas de réponse
	
	Autres paramètres : voir inclure/dates-evenement et inclure/vignettes/article
	

][(#SET{balise_titre,#ENV{balise_titre,h2}})
][(#SET{nb_colonnes,#ENV{nb_colonnes,3}})
][(#SET{nb_colonnes_small,#ENV{nb_colonnes_small,2}})
][(#SET{balise_titre_mois,#ENV{balise_titre_mois,h2}})
][(#SET{balise_titre_article,#ENV{balise_titre_article,h3}})
][(#SET{couper_titre_article,#ENV{couper_titre_article,60}})
][(#SET{couper_soustitre_article,#ENV{couper_soustitre_article,80}})
][(#SET{couper_intro_article,#ENV{couper_intro_article,250}})
][(#ENV{agenda}|=={oui}|?{
	#SET{date,#DATE}
	,
	#SET{date,1954-04-01 00:00:00}
})]
<div [id="(#ENV{id})"] class="grille evenements">
	[<#GET{balise_titre}>(#ENV{titre})</#GET{balise_titre}>]
	<B_agenda>
	[(#ENV{masquer_pagination}|!={oui}|oui)	#ANCRE_PAGINATION ]
	<ul class="grille-items sm:grid [sm:grid-cols-(#ENV{sm-grid-cols,2})] [md:grid-cols-(#ENV{md-grid-cols,3})] sm:gap-5 md:gap-36">
		<BOUCLE_agenda(ARTICLES)
			{evenements.statut=publie}
			{id_rubrique?}
			{id_article?}
			{recherche?}
			{id_mot?}
			{par evenements.date_debut}
			{evenements.date_fin > #GET{date}}
			{0,#ENV{nb,999999}}
			{pagination #GET{pagination}}
		>
		[(#ENV{masquer_mois}|!={oui}|oui)[<li class="item mois">
			<#ENV{balise_titre_mois,h2}>
				(#DATE_DEBUT|nom_mois|unique)
			</#ENV{balise_titre_mois,h2}>
		</li>]]		
		<li class="item"><a href="#URL_ARTICLE">
			<figure[ class="(#ENV{classe_figure})"]><INCLURE{fond=inclure/vignettes/article,
									id_article,
									id_rubrique,
									largeur_image,
									hauteur_image,
									classe_vignette} />
				<figcaption>
					[(#ENV{masquer_date_article}|!={oui}|oui) <div class="dates-evenement"><INCLURE{fond=inclure/dates-evenement,id_article,affichage_long} /></div> ]
					[<[(#GET{balise_titre_article})] class="[(#ENV{classe_titre_article,balise_titre_article})] titre">(#TITRE|couper{#GET{couper_titre_article}})</#GET{balise_titre_article}>]
					[(#ENV{masquer_soustitre_article}|!={oui}|oui) [<div class="soustitre entry-content">(#SOUSTITRE|couper{#GET{couper_soustitre_article}})</div>] ]
					[(#ENV{masquer_intro_article}|!={oui}|oui) [<div class="introduction entry-content">(#INTRODUCTION{#GET{couper_intro_article}})</div>] ]
				</figcaption>
				</figure>
		</a></li>
		</BOUCLE_agenda>
	</ul>
	[(#ENV{masquer_pagination}|!={oui}|oui)
	[<nav class="pagination">
		(#PAGINATION{
			#ENV{modele_pagination,page_precedent_suivant},
			label_precedent=#ENV{label_precedent},
			label_suivant=#ENV{label_suivant}
		})
	</nav>] ]
	</B_agenda>
	[<p class="aucun-resultat">(#ENV{message_aucun}|sinon{<:zcm:aucun_evenement:>})</p>]
	<//B_agenda>
</div>