[(#REM)

Affichage type grille

	Exemple d'insertion : <INCLURE{fond=inclure/grilles/rubriques, env, ajax,
										id_parent=#ID_RUBRIQUE} />
	
	Les paramètres : 
		- titre : titre de la liste (défaut '')
		- tri : critère de classement (défaut num titre)
		- sens_tri : sens du classement (défaut 0 / inverse -1)
		- gouttiere : gouttière entre les vignettes de la grille (défaut oui)
		- nb_colonnes : nombre de colonnes dans la grille (défaut 3)
		- nb_colonnes_small : nombre de colonnes dans la grille sur petit écran (défaut 2)
		- nb : nombre d'item à afficher dans la liste (défaut 999999)
		- pagination : nombre pour la pagination (défaut 9)
		- classe_figure : classe de la balise figure (defaut '') / Utiliser spip_documents rond illustration pour avoir un rond
		- masquer_date_rubrique : afficher la date de la rubrique (defaut non)
		- balise_titre_rubrique : balise du titre des vignettes (defaut h3)
		- couper_titre_rubrique : nb de caractères du titre (defaut 60)
		- masquer_soustitre_rubrique : afficher le soustitre de la rubrique (dafaut non)
		- couper_soustitre_rubrique : nb de caractères du soustitre (defaut 80)
		- masquer_intro_rubrique : afficher l'intro de la rubrique (dafaut non)
		- couper_intro_rubrique : nb de caractères de l'intro (defaut 250)
		- masquer_pagination : oui/non (défaut non)
		- modele_pagination (défaut page_precedent_suivant)
		- label_precedent/label_suivant : texte liens de pagination
		- masquer_voirtout : ne pas afficher le bouton "Voir tout" (defaut non)		
		- message_aucun : texte si pas de réponse
	
	Autres paramètres : voir inclure/vignettes/rubrique
	

][(#SET{balise_titre,#ENV{balise_titre,h2}})
][(#SET{tri,#ENV{tri,num titre}})
][(#SET{sens_tri,#ENV{sens_tri,0}})
][(#SET{nb_colonnes,#ENV{nb_colonnes,3}})
][(#SET{nb_colonnes_small,#ENV{nb_colonnes_small,2}})
][(#SET{nb,#ENV{nb,999999}})
][(#SET{pagination,#ENV{pagination,9}})
][(#SET{balise_titre_rubrique,#ENV{balise_titre_rubrique,h3}})
][(#SET{couper_titre_rubrique,#ENV{couper_titre_rubrique,60}})
][(#SET{couper_intro_rubrique,#ENV{couper_intro_rubrique,250}})
][(#SET{message_aucun, [(#ENV{message_aucun}|is_null|?{<:info_aucun_rubrique:>, #ENV{message_aucun}})]})]
<B_rubriques>
<div [id="(#ENV{id})"] class="liste rubriques">
	[(#ENV{masquer_pagination}|!={oui}|oui) #ANCRE_PAGINATION ]
	[<#GET{balise_titre}>(#ENV{titre})</#GET{balise_titre}>]
	<ul class="grille-items sm:grid [sm:grid-cols-(#ENV{sm-grid-cols,2})] [md:grid-cols-(#ENV{md-grid-cols,3})] sm:gap-5 md:gap-36">
		<BOUCLE_rubriques(RUBRIQUES)
			{id_parent?}
			{recherche?}
			{id_mot?}
			{tri #GET{tri}}
			{inverse #GET{sens_tri}}
			{par titre}
			{0,#GET{nb}}
			{pagination #GET{pagination}}
			>
		<li class="item" itemscope itemtype="http://schema.org/Article"><a href="#URL_RUBRIQUE" itemprop="url">
			<figure[ class="(#ENV{classe_figure})"]>
				<INCLURE{fond=inclure/vignettes/rubrique,
								id_rubrique,
								microdatas=oui,
								largeur_image,
								hauteur_image,
								classe_vignette} 
				/>
				<figcaption>
					[(#ENV{masquer_date_rubrique}|!={oui}|oui)
					<p class="date_rubrique">[<time datetime="[(#DATE|date_iso)]">(#DATE|affdate_jourcourt)</time>]</p> ]
					[<[(#GET{balise_titre_rubrique})] class="[(#ENV{classe_titre_rubrique,balise_titre_rubrique})] titre">(#TITRE|couper{#GET{couper_titre_rubrique}})</#GET{balise_titre_rubrique}>]
					[(#ENV{masquer_intro_rubrique}|!={oui}|oui) [<div class="introduction entry-content">(#INTRODUCTION{#GET{couper_intro_rubrique}})</div>] ]
				</figcaption>
				</figure>
		</a></li>
		</BOUCLE_rubriques>
	</ul>
	[(#ENV{masquer_pagination}|!={oui}|oui)
	[<nav class="pagination">
		(#PAGINATION{
			#ENV{modele_pagination,page_precedent_suivant},
			label_precedent=#ENV{label_precedent},
			label_suivant=#ENV{label_suivant}
		})
	</nav>] ]
	[(#ENV{masquer_voirtout}|!={oui}|oui) <p class="boutons centrer">
		<a href="#URL_RUBRIQUE" class="bouton"><:zcm:voir_tout:></a>
	</p>]
</div>
</B_rubriques>
[<p class="aucun-resultat">(#GET{message_aucun})</p>]
<//B_rubriques>