<body>
	<div class="page">
		
		[(#REM) <!-- Navigation d'accès rapide : ancres, recherche, plan, contact, article d'accessibilité, etc --> ]		
		<nav id="accesrapide" aria-label="<:zcm:arialabel_accesrapide|attribut_html:>">
			<INCLURE{fond=inclure/menus/accesrapide} />
		</nav>
		
		[(#REM) <!-- Entête général du site --> ]
		<header class="header" id="header">
			<div class="container">

				[(#REM) <!-- L'entete du site --> ]
				<INCLURE{fond=header/#ENV{type-page},env} />

				[(#REM) <!-- Navigation principale du site --> ]
				<INCLURE{fond=inclure/menus/navprincipale, env} />
				[<nav id="menu_lang"  aria-label="<:zcm:arialabel_menulang|attribut_html:>">(#MENU_LANG)</nav>]

			</div>
		</header>
		
		[(#REM) <!-- Fil d'Ariane --> ]
		[(#SI_PAGE{sommaire}|non)
		<nav class="fildariane" id="fildariane" aria-label="<:zcm:arialabel_fildariane|attribut_html:>">
			<div class="container">
				<INCLURE{fond=breadcrumb/#ENV{type-page},env,sep=/} />
			</div>
		</nav>]
		
		[(#REM) <!-- Contenu central du site = contenu principal + navigations secondaires --> ]
		<div class="central">
			<div class="wrapper" id="wrapper">
				<main class="main" id="main">
					<INCLURE{fond=content/#ENV{type-page},env} />
				</main>
				<aside class="aside container" id="aside">
					<INCLURE{fond=aside/#ENV{type-page},env} />
				</aside>
			</div>
			[(#REM) <!-- Des outils --> ]
			<div id="outils">
				<div class="container">
					<INCLURE{fond=inclure/outils} />
				</div>
			</div>

		</div>
		
		[(#REM) <!-- Pied de page --> ]
		<footer class="footer" id="footer">
			<div class="container">
				<INCLURE{fond=footer/#ENV{type-page},env} />
			</div>
		</footer>
	</div>
	<INCLURE{fond=images/svg} />
</body>
