[(#REM) Fil d'Ariane ]
<ul class="breadcrumb-items">
	<li class="item"><a href="#URL_SITE_SPIP/"><:accueil_site:></a><span class="sep"> #ENV{sep} </span></li>
	<li class="item active"><:pass_erreur:> 404</li>
</ul>
