<BOUCLE_content(AUTEURS){id_auteur}>
[(#REM) Fil d'Ariane ]
<ul class="breadcrumb-items">
	<li class="item"><a href="#URL_SITE_SPIP/"><:accueil_site:></a><span class="sep"> #ENV{sep} </span></li>
	<li class="item"><:info_auteurs:><span class="sep"> #ENV{sep} </span></li>
	[<li class="item active">(#NOM|couper{80})</li>]
</ul>
</BOUCLE_content>
