<BOUCLE_evenement(EVENEMENTS){id_evenement}>
<ul class="breadcrumb-items">
	<li class="item"><a href="#URL_SITE_SPIP/"><:accueil_site:></a><span class="sep"> #ENV{sep} </span></li>
	<li class="item active"><a href="#URL_PAGE{agenda}">[(#CONFIG{agenda/titre}|sinon{<:agenda:titre_sur_l_agenda:>}|typo)]</a><span class="sep"> #ENV{sep} </span></li>
	<li class="item active">[(#TITRE|couper{80})]</li>
</ul>
</BOUCLE_evenement>
