<BOUCLE_content(MOTS) {id_mot} {doublons}>
<ul class="breadcrumb-items">
	<li class="item"><a href="#URL_SITE_SPIP/"><:accueil_site:></a><span class="sep"> #ENV{sep} </span></li>
	<li class="item"><:mots_clefs:><span class="sep"> #ENV{sep} </span></li>
	<BOUCLE_ariane(GROUPES_MOTS){id_groupe}><li>[(#TITRE|couper{80})]<span class="sep"> #ENV{sep} </span></li></BOUCLE_ariane>
	<li class="item active">[(#TITRE|couper{80})]</li>
</ul>
</BOUCLE_content>
