[(#REM)

Présentation resumée d'un article avec vignette dans une liste
	
	Exemple d'insertion : <INCLURE{fond=inclure/resumes/article,
										id_article,
										largeur_image,
										hauteur_image,
										balise_titre_article,
										couper_titre_article} />

	Les paramètres
		- id_article (int) ! identifiant de l'article
		- masquer_vignette : masquer les vignettes dans la liste (dafaut non)
		- balise_titre_article : balise du titre des articles (dafaut h3)
		- masquer_publie_le : masquer "Publié le" avant la date de l'article (defaut non)
		- masquer_date_article : masquer la date de l'article (defaut non)
		- couper_titre_article : nb de caractères du titre (defaut 250 / 0 pour masquer)
		- masquer_intro_article : masquer l'intro de l'article (defaut non)
		- couper_intro_article : nb de caractères de l'intro (defaut 250)
		- masquer_lirelasuite : masquer le lien "Lire la suite" (défaut non)
		- texte_lirelasuite : masquer le lien "Lire la suite" (défaut <:zcore:lire_la_suite:>)

]<BOUCLE_resume_article(ARTICLES) {id_article} {statut?}>
<article class="entry article hentry">
	<a href="#URL_ARTICLE" rel="bookmark">
		[(#ENV{masquer_vignette}|!={oui}|oui)
		<INCLURE{fond=inclure/vignettes/article,
							id_article,
							id_rubrique,
							largeur_image,
							hauteur_image,
							classe_vignette} />]
		<div class="resume_article[ (#ENV{classe_resume})]">
			[<[(#ENV{balise_titre_article,h2})] [class="(#ENV{classe_titre_article,#ENV{balise_titre_article}})"]> (#TITRE|couper{#ENV{couper_titre_article,60}}) </#ENV{balise_titre_article,h2}>]
			[(#ENV{afficher_date_article}|!={non}|oui) 
				<p class="date_article"> 
				[(#EPINGLER|=={oui}|?{
					<:zcm:epinglee:>
					,
					[(#SET{date,#DATE})]
					[<:zcm:publie_le:> (#GET{date}|jour)[ (#GET{date}|nom_mois{abbr})][ (#GET{date}|annee|substr{2,2})] ]
				})]
				</p>]
			[(#ENV{masquer_intro_article}|!={oui}|oui) [<div class="introduction entry-content">(#INTRODUCTION{#ENV{couper_intro_article,250}})</div>] ]
			[(#ENV{masquer_lirelasuite}|!={oui}|oui)<p class="lire_la_suite" > [(#ENV{texte_lirelasuite,<:zcore:lire_la_suite:>})] </p>]	
		</div>
	</a>
</article>
</BOUCLE_resume_article>