[(#REM)

  Squelette Presentation resumee d'un document dans une liste
  Distribue sous licence GPL

]
<BOUCLE_resume_document(DOCUMENTS) {id_document} {statut?}>
<article class="spip_doc[ (#EXTENSION|attribut_html)]">	
	<a href="#URL_DOCUMENT" class="document" rel="bookmark" type="#MIME_TYPE" title="<:bouton_download:> [(#TYPE_DOCUMENT) - ][(#TAILLE|taille_en_octets)]" >
		[(#LOGO_DOCUMENT|image_reduire{#ENV{largeur_logo,-1},#ENV{hauteur_logo,-1}}|responsive_logo)]
		<div>
			<strong>[(#TITRE|sinon{#FICHIER|basename|couper{80}})]</strong>
			<div class="document-infos">[(#TYPE_DOCUMENT)][<span class="poids"><span class="sep"> - </span>(#TAILLE|taille_en_octets)]</span></div>
			[<div class="#EDIT{descriptif} introduction document-contenu">(#DESCRIPTIF|couper{#ENV{coupe,300}})</div>]
		</div>
	</a>
</article>
</BOUCLE_resume_document>