[(#REM)

Présentation resumé d'un évènement dans une liste


	Exemple d'insertion : <INCLURE{fond=inclure/resumes/evenement,id_evenement} />

	Les paramètres
		- id_evenement
		- balise_titre_evenement : balise du titre des articles (dafaut h3)
		- couper_titre_evenement : nb de caractères du titre (defaut 60)
		- couper_intro_evenement : nb de caractères de l'intro (defaut 60 / 0 pour masquer) 
		- masquer_date_evenement : masquer la date de l'événement sous le sitre (defaut non)		
		- masquer_vignette : masquer la vignette de l'évenement (defaut non)
		- masquer_lieu_evenement : masquer le lieu et l'adresse de l'événement (defaut non)
		- masquer_lirelasuite : masquer le lien Lire la suite (defaut non)

]<BOUCLE_vevent(EVENEMENTS){id_evenement=#ENV{id,#ENV{id_evenement}}}{tout}>
[(#SET{annee,#DATE_DEBUT|annee})][(#SET{mois,#DATE_DEBUT|nom_mois})][(#SET{jour,#DATE_DEBUT|jour})]
<article class="entry evenement vevent id_#ID_EVENEMENT" id="evenement_#ID_EVENEMENT" itemscope itemtype="http://schema.org/Event">
	<meta itemprop="startDate" content="[(#DATE_DEBUT|affdate{Y-m-d})]T[(#DATE_DEBUT|affdate{H:i:sO})]">
	<meta itemprop="endDate" content="[(#DATE_FIN|affdate{Y-m-d})]T[(#DATE_FIN|affdate{H:i:sO})]">
	<a itemprop="url" class="url" href="[(#URL_EVENEMENT)]">
		[(#DATE_DEBUT|agenda_affdate_debut_fin{#DATE_FIN,#HORAIRE*})]
		[<[(#ENV{balise_titre_evenement,h3})] itemprop="name"> (#TITRE|couper{#ENV{couper_titre_evenement,60}}) </#ENV{balise_titre_evenement,h3}>]
		[(#ENV{masquer_vignette}|!={oui}|oui)
		<INCLURE{fond=inclure/vignettes/evenement, id_evenement, id_article,
						largeur_image,
						hauteur_image,
						classe_vignette} />]
		<div class="resume_evenement[ (#ENV{classe_resume})]">
			[<div class="introduction #EDIT{descriptif}" itemprop="description">(#DESCRIPTIF|couper{#ENV{couper_intro_evenement,250}})</div>]
			[(#ENV{masquer_lieu_evenement}|!={oui}|oui)	[<p class="location" itemprop="location"><span class="lieu #EDIT{lieu}">(#LIEU)</span>[<br /><span class="adresse #EDIT{adresse}">(#ADRESSE|PtoBR)</span>]</p>] ]
		</div>
		[(#ENV{masquer_lirelasuite}|!={oui}|oui)<p class="lire_la_suite" ><:zcore:lire_la_suite:></p>]
	</a>
</article>
</BOUCLE_vevent>