[(#REM)

	Présentation résumée d'une rubrique avec vignette dans une liste
	
	Exemple d'insertion : <INCLURE{fond=inclure/resumes/rubrique,
										id_rubrique,
										largeur_image,
										hauteur_image,
										balise_titre_rubrique,
										couper_titre_rubrique} />

	Les paramètres
		- id_rubrique (int) ! identifiant de l'rubrique
		- masquer_vignette : masquer les vignettes dans la liste (dafaut non)
		- balise_titre_rubrique : balise du titre des rubriques (dafaut h3)
		- masquer_publie_le : masquer "Publié le" avant la date de l'rubrique (defaut non)
		- couper_titre_rubrique : nb de caractères du titre (defaut 60)
		- masquer_intro_rubrique : masquer l'intro de l'rubrique (defaut non)
		- couper_intro_rubrique : nb de caractères de l'intro (defaut 250 / 0 pour masquer)
		- texte_lirelasuite : masquer le lien "Lire la suite" (défaut <:zcore:lire_la_suite:>)

]<BOUCLE_resume_rubrique(RUBRIQUES) {id_rubrique} {statut?}>
<rubrique class="entry rubrique hentry">
	<a href="#URL_RUBRIQUE" rel="bookmark">
		[(#ENV{masquer_vignette}|!={oui}|oui)
		<INCLURE{fond=inclure/vignettes/rubrique,
						id_rubrique,
						largeur_image,
						hauteur_image,
						classe_vignette} />]
		<div class="resume_rubrique[ (#ENV{classe_resume})]">
			[<[(#ENV{balise_titre_rubrique,h2})] [class="(#ENV{classe_titre_rubrique,#ENV{balise_titre_rubrique}})"]> (#TITRE|couper{#ENV{couper_titre_rubrique,60}}) </#ENV{balise_titre_rubrique,h2}>]
			[(#ENV{masquer_intro_rubrique}|!={oui}|oui) [<div class="introduction entry-content translation-h">(#INTRODUCTION{#ENV{couper_intro_rubrique,250}})</div>] ]
		</div>
	</a>
</rubrique>
</BOUCLE_resume_rubrique>