[(#REM)

Affichage d'articles type grille

	Exemple d'insertion : <INCLURE{fond=inclure/listes/actualites, env, ajax,
										id_rubrique, id_article=#EVAL{null}} />

	Les paramètres : 
		- affichage : affichage en liste ou grille (défaut grille)
		- id_rubrique/id_article/branche (int) : pour restreindre aux articles d'une rubrique
		- tri : critère de classement (défaut num titre)
		- sens_tri : sens du classement (défaut 0 / inverse -1)
		- sm-grid-cols : nombre de colonnes dans la grille sur écran moyen (défaut 2)
		- md-grid-cols : nombre de colonnes dans la grille sur grand écran (défaut 3)
		- nb : nombre d'item à afficher dans la grille (défaut 999999)
		- pagination : nombre pour la pagination (défaut 9)
		- masquer_pagination : oui/non (défaut non)
		- modele_pagination (défaut page_precedent_suivant)
		- label_precedent/label_suivant : texte liens de pagination
		- masquer_voirtout : ne pas afficher le bouton "Voir tout" (defaut oui)		
		- message_aucun : texte si pas de réponse (defaut <:info_aucun_article:>)
	
	Autres paramètres : voir inclure/vignettes/article	

][(#ENV{affichage}|=={liste}|?{
	[(#SET{classe_parent,liste})][
	(#SET{classe_ul,liste-items})]
	,
	[(#SET{classe_parent,grille})][
	(#SET{classe_ul,grille-items sm:grid [sm:grid-cols-(#ENV{sm-grid-cols,2})] [md:grid-cols-(#ENV{md-grid-cols,3})] sm:gap-5 md:gap-36})]
})] 
<B_articles>
<div [id="(#ENV{id})"] class="[(#GET{classe_parent})] articles">
	[(#ENV{masquer_pagination}|!={oui}|oui)	#ANCRE_PAGINATION ]
	<ul [class="(#GET{classe_ul})"]>
		<BOUCLE_articles(ARTICLES)
			{id_rubrique}
			{id_mot?}
			{!par epingler, date}
			{0, #ENV{nb,999999}}
			{pagination #ENV{pagination,9}}
		>
		<li class="item" itemscope itemtype="http://schema.org/Article">
			<INCLURE{fond=inclure/resumes/#ENV{resume,article},
							id_article,
							id_rubrique,
							largeur_image,
							hauteur_image,
							classe_resume,
							balise_titre_article,
							classe_titre_article,
							couper_titre_article,
							couper_soustitre_article,
							couper_intro_article,
							masquer_publie_le,
							masquer_date_article,
							masquer_intro_article,
							masquer_vignette,
							classe_vignette,
							masquer_lirelasuite,
							texte_lirelasuite}>
		</li>
		</BOUCLE_articles>
	</ul>
	[(#ENV{masquer_pagination}|!={oui}|oui)
	[<nav class="pagination">
		(#PAGINATION{
			#ENV{modele_pagination,page_precedent_suivant},
			label_precedent=#ENV{label_precedent},
			label_suivant=#ENV{label_suivant}
		})
	</nav>] ]
</div>
</B_articles>
[<p class="aucun-resultat">(#ENV{message_aucun,<:info_aucun_article:>})</p>]
<//B_articles>