[(#REM)

Affichage type agenda sous forme de grille

	Exemple d'insertion : <INCLURE{fond=inclure/listes/agenda, env, ajax,
											agenda=oui} />
	
	Les paramètres :
		- agenda : détermine si on affiche uniquement les événements à venir (mode agenda)
			ou tous les événements de la rubrique en cours (mode saison) (défaut non)
		- titre : titre de la grille (défaut '')
		- balise_titre : balise du titre de la grille (défaut h2)
		- pagination : nombre pour la pagination (défaut 9)
		- masquer_mois : oui/non (défaut non)
		- masquer_date_evenement : afficher les dates des événements (dafaut non)
		- balise_titre_evenement : balise du titre des événements (defaut h3)
		- classe_titre_evenement : classe du titre des vignettes (dafaut .h3)
		- couper_titre_evenement : nb de caractère pour couper le titre (défaut 60)
		- masquer_pagination : oui/non (défaut non)
		- modele_pagination (défaut page_precedent_suivant)
		- label_precedent/label_suivant : texte liens de pagination
		- masquer_voirtout : ne pas afficher le bouton "Voir tout" (defaut non)		
		- message_aucun : texte si pas de réponse
	
	Autres paramètres : voir inclure/dates-evenement
	

][(#SET{balise_titre,#ENV{balise_titre,h2}})
][(#SET{nb_colonnes,#ENV{nb_colonnes,3}})
][(#SET{balise_titre_evenement,#ENV{balise_titre_evenement,h3}})
][(#SET{couper_titre_evenement,#ENV{couper_titre_evenement,60}})
][(#SET{pagination,#ENV{pagination,9}})
][(#ENV{agenda}|=={oui}|?{
	#SET{date,#DATE}
	,
	#SET{date,1954-04-01 00:00:00}
})]
<div [id="(#ENV{id})"] class="liste evenements">
	[<#GET{balise_titre}>(#ENV{titre})</#GET{balise_titre}>]
	<B_agenda>
	<div>
		[(#ENV{masquer_pagination}|!={oui}|oui)	#ANCRE_PAGINATION ]
		<ul class="liste-items">
			<BOUCLE_agenda(ARTICLES)
				{evenements.statut=publie}
				{id_rubrique?}
				{id_article?}
				{recherche?}
				{id_mot?}
				{par evenements.date_debut}
				{evenements.date_fin > #GET{date}}
				{0,#ENV{nb,999999}}
				{pagination #GET{pagination}}
			>
			[(#ENV{masquer_mois}|!=={oui}|oui)[<li class="item mois"><span>(#DATE_DEBUT|nom_mois|unique)</span></li>]]		
			<li class="item"><a href="#URL_ARTICLE">
				[(#ENV{masquer_date_evenement}|!={oui}|oui) <INCLURE{fond=inclure/dates-evenement,id_article,affichage_long} /> ]
				[<[(#GET{balise_titre_evenement})]>(#TITRE|couper{#GET{couper_titre_evenement}})</#GET{balise_titre_evenement}>]
			</a></li>
			</BOUCLE_agenda>
		</ul>
		[(#ENV{masquer_pagination}|!={oui}|oui)
		[<nav class="pagination">
			(#PAGINATION{
				#ENV{modele_pagination,page_precedent_suivant},
				label_precedent=#ENV{label_precedent},
				label_suivant=#ENV{label_suivant}
			})
		</nav>] ]
		[(#ENV{masquer_voirtout}|!={oui}|oui) <p class="boutons centrer">
			<a href="#URL_RUBRIQUE" class="bouton"><:zcm:voir_tout:></a>
		</p>]
	</div>
	</B_agenda>
	[<p class="aucun-resultat">(#ENV{message_aucun}|sinon{<:zcm:aucun_evenement:>})</p>]
	<//B_agenda>
</div>