[(#REM)

    Affichage type agenda sous forme de liste

	Exemple d'insertion : <INCLURE{fond=inclure/listes/evenements, env, ajax, id_article} />

    Les paramètres : 
        - nb : nombre d'item à afficher dans la liste (défaut 999999)
        - pagination : nombre pour la pagination (défaut 9)
		- masquer_pagination : oui/non (défaut non)
		- modele_pagination (défaut page_precedent_suivant)
		- label_precedent/label_suivant : texte liens de pagination
		- message_aucun : texte si pas de réponse
        - masquer_lien_archives : masquer le lien vers la archives (defaut oui)

][(#REM)

    Par défaut, on affiche les événements à venir par ordre chrono
    et si archives=oui, on affiche les événements passés par ordre inverse chrono

][(#ENV{archives}|!={oui}|?{
    [(#SET{date_debut,#DATE})][(#SET{date_fin,[(#VAL{Y-m-d H:i:s}|date{#VAL{"+2 years"}|strtotime})]})][(#SET{sens_tri,0})]
,
    [(#SET{date_debut,[(#VAL{Y-m-d H:i:s}|date{#VAL{"-10 years"}|strtotime})]})][(#SET{date_fin,#DATE})][(#SET{sens_tri,-1})]
})]
[(#REM)
    
    Affichage en grille (par défaut) ou en liste simple

][(#ENV{affichage}|=={liste}|?{
	[(#SET{classe_parent,liste})][
	(#SET{classe_ul,liste-items})]
	,
	[(#SET{classe_parent,grille})][
	(#SET{classe_ul,grille-items sm:grid [sm:grid-cols-(#ENV{sm-grid-cols,2})] [md:grid-cols-(#ENV{md-grid-cols,3})] sm:gap-5 md:gap-36})]
})] 
<B_evenements>
<div [id="(#ENV{id})"] class="[(#GET{classe_parent})] articles">
    [(#ENV{masquer_pagination}|!={oui}|oui)	#ANCRE_PAGINATION ]
	<ul [class="(#GET{classe_ul})"]>
        <BOUCLE_evenements(EVENEMENTS) 
                {!evenement_passe #GET{date_debut}}
                {!evenement_a_venir #GET{date_fin}}
                {tri date_debut} {inverse #GET{sens_tri}}
                {id_article?}
                {0, #ENV{nb,999999}}
                {pagination #ENV{pagination,9}}
        >
        <li class="items">
            <INCLURE{fond=inclure/resumes/evenement, 
                            id_evenement,
                            classe_resume,
                            masquer_vignette,
                            couper_intro,
                            masquer_lirelasuite} />
        </li>
        </BOUCLE_evenements>    
    </ul>
    [(#ENV{masquer_pagination}|!={oui}|oui)
    [<nav class="pagination">
        (#PAGINATION{
            #ENV{modele_pagination,page_precedent_suivant},
            label_precedent=#ENV{label_precedent},
            label_suivant=#ENV{label_suivant}
        })
    </nav>] ]
</div>
</B_evenements>
[<p class="aucun-resultat">(#ENV{message_aucun}|sinon{<:zcm:aucun_evenement:>})</p>]
<//B_evenements>
[(#ENV{masquer_lien_archives}|!={oui}|oui)
<p class="boutons centrer">
    [(#ENV{masquer_archives}|!={oui}|?{
        <a href="[(#SELF|parametre_url{archives,oui}|parametre_url{debut_agenda,''})]" class="ajax bouton">
            <:zcm:archives:>
        </a>
        ,
        <a href="[(#SELF|parametre_url{archives,''}|parametre_url{debut_agenda,''})]" class="ajax bouton">
            <:zcm:a_venir:>
        </a>
    })]
</p>]