[(#REM)

Affichage d'rubriques type grille

	Exemple d'insertion : <INCLURE{fond=inclure/listes/rubriques, env, ajax,
											id_parent=#ID_RUBRIQUE} />

	Les paramètres : 
		- affichage : affichage en liste ou grille (défaut grille)
		- id_parent (int) : id de la rubrique parente
		- tri : critère de classement (défaut num titre)
		- sens_tri : sens du classement (défaut 0 / inverse -1)
		- sm-grid-cols : nombre de colonnes dans la grille sur écran moyen (défaut 2)
		- md-grid-cols : nombre de colonnes dans la grille sur grand écran (défaut 3)
		- nb : nombre d'item à afficher dans la grille (défaut 999999)
		- pagination : nombre pour la pagination (défaut 9)
		- masquer_pagination : oui/non (défaut non)
		- modele_pagination (défaut page_precedent_suivant)
		- label_precedent/label_suivant : texte liens de pagination
		- masquer_voirtout : ne pas afficher le bouton "Voir tout" (defaut oui)		
		- message_aucun : texte si pas de réponse (defaut <:info_aucun_rubrique:>)
	
	Autres paramètres : voir inclure/vignettes/article	

][(#ENV{affichage}|=={liste}|?{
	[(#SET{classe_parent,liste})][
	(#SET{classe_ul,liste-items})]
	,
	[(#SET{classe_parent,grille})][
	(#SET{classe_ul,grille-items sm:grid [sm:grid-cols-(#ENV{sm-grid-cols,2})] [md:grid-cols-(#ENV{md-grid-cols,3})] sm:gap-5 md:gap-36})]
})] 
<B_rubriques>
<div [id="(#ENV{id})"] class="[(#GET{classe_parent})] rubriques">
	[(#ENV{masquer_pagination}|!={oui}|oui)	#ANCRE_PAGINATION ]
	<ul [class="(#GET{classe_ul})"]>
		<BOUCLE_rubriques(RUBRIQUES)
			{id_parent?}
			{recherche?}
			{id_mot?}
			{tri #ENV{tri,num titre}}
			{inverse #ENV{sens_tri,0}}
			{0, #ENV{nb,999999}}
			{pagination #ENV{pagination,9}}
		>
		<li class="item">
			<INCLURE{fond=inclure/resumes/#ENV{resume,rubrique},
							id_rubrique,
							largeur_image,
							hauteur_image,
							classe_resume,
							balise_titre_rubrique,
							classe_titre_rubrique,
							couper_titre_rubrique,
							couper_soustitre_rubrique,
							couper_intro_rubrique,
							masquer_publie_le,
							masquer_date_rubrique,
							masquer_intro_rubrique,
							masquer_vignette,
							classe_vignette,
							masquer_lirelasuite,
							texte_lirelasuite}>
		</li>
		</BOUCLE_rubriques>
	</ul>
	[(#ENV{masquer_pagination}|!={oui}|oui)
	[<nav class="pagination">
		(#PAGINATION{
			#ENV{modele_pagination,page_precedent_suivant},
			label_precedent=#ENV{label_precedent},
			label_suivant=#ENV{label_suivant}
		})
	</nav>] ]
</div>
</B_rubriques>
[<p class="aucun-resultat">(#ENV{message_aucun,<:info_aucun_rubrique:>})</p>]
<//B_rubriques>