<section class="container">
	<header class="cartouche">
		<h1><:accesrestreint:titre_zones_acces:></h1>
	</header>
	<div class="contenu">
		[<div class="chapo">(#ENV{erreur})</div>]
	</div>
	<aside>
	#FORMULAIRE_LOGIN{#ENV{cible},'',0}
	</aside>
</section>