<section class="container">
	<header class="cartouche">
		<h1><:pass_erreur:> 404</h1>
	</header>
	<div class="contenu">
		<div class="chapo">[(#ENV{erreur})][(#ENV{erreur}|non) <:aucun_article:>]</div>
	</div>
</section>
