<BOUCLE_content(ARTICLES){id_article}>
<article class="container">
	
	<header class="cartouche">
		<h1><span class="#EDIT{titre}">#TITRE</span>[
			<small class="#EDIT{soustitre} soustitre">(#SOUSTITRE)</small>
		]</h1>
	</header>

	<div class="contenu">
		[<div class="#EDIT{chapo} chapo">(#CHAPO|adaptive_images)</div>]
		[<div class="#EDIT{texte} texte">(#TEXTE|adaptive_images)</div>]
	</div>
	
	<div id="agenda">
		<INCLURE{fond=inclure/agenda-liste, balise_titre_evenement=strong} />
	</div>

	<footer>
		[<div class="notes"><h2><:info_notes:></h2>(#NOTES)</div>]
	</footer>

	<aside>
		[(#REM) Gestion du portfolio et des documents ]
		<INCLURE{fond=inclure/galeries/portfolio,id_article,id_rubrique=#EVAL{null}} />
		<INCLURE{fond=inclure/documents,id_article} />
	</aside>
</article>
</BOUCLE_content>
