<BOUCLE_content(ARTICLES){id_article}>
<article class="container" itemscope itemtype="http://schema.org/Event">
	
	<header class="cartouche">
		[<p class="#EDIT{surtitre} surtitre">(#SURTITRE)</p>]
		<h1><span class="#EDIT{titre}" itemprop="name">#TITRE</span>[
			<small class="#EDIT{soustitre} soustitre">(#SOUSTITRE)</small>
		]</h1>
		<div>
			<INCLURE{fond=inclure/dates-evenement,id_article,affichage_long} />
			<span itemprop="location" itemscope itemtype="http://schema.org/Place">#NOM_SITE_SPIP</span>
		</div>
	</header>

	<div class="contenu" itemprop="description">
		[<div class="#EDIT{chapo} chapo">(#CHAPO|adaptive_images)</div>]
		[<div class="#EDIT{texte} texte">(#TEXTE|adaptive_images)</div>]
	</div>

	<footer>
		[<div class="notes"><h2><:info_notes:></h2>(#NOTES)</div>]
	</footer>

	<aside>
		[(#REM) Gestion du portfolio et des documents ]
		<INCLURE{fond=inclure/galeries/portfolio,id_article,id_rubrique=#EVAL{null}} />
		<INCLURE{fond=inclure/documents,id_article} />
	</aside>
</article>
</BOUCLE_content>
