<BOUCLE_content(ARTICLES){id_article}>
<article class="container" itemscope itemtype="http://schema.org/Article">
	<header class="cartouche">
		[<p class="#EDIT{surtitre} surtitre">(#SURTITRE)</p>]
		<h1 itemprop="headline"><span class="#EDIT{titre}">#TITRE</span>[
			<small class="#EDIT{soustitre} soustitre">(#SOUSTITRE)</small>
		]</h1>
		
	</header>

	<div class="contenu" itemprop="articleBody">
		[<div class="#EDIT{chapo} chapo clearfix">(#CHAPO|adaptive_images)</div>]
		[<div class="#EDIT{texte} texte clearfix">(#TEXTE|adaptive_images)</div>]
	</div>

	<footer>
		[<div class="notes"><h2><:info_notes:></h2>(#NOTES)</div>]
	</footer>

	<aside>
		[(#REM) Gestion du portfolio et des documents ]
		<INCLURE{fond=inclure/galeries/portfolio,id_article,id_rubrique=#EVAL{null}} />
		<INCLURE{fond=inclure/documents,id_article} />
	</aside>
</article>
</BOUCLE_content>
