<BOUCLE_evenement(EVENEMENTS){id_evenement}>
<article class="vevent container id_#ID_EVENEMENT[ (#INFO_COMPOSITION{article,#ID_ARTICLE})]" itemscope itemtype="http://schema.org/Event">
	<header class="cartouche">
		<h1 class="#EDIT{titre} summary" itemprop="name">#TITRE</h1>

		<INCLURE{fond=inclure/dates-evenement,id_evenement,microdatas=oui} />

		</header>
	
	<div class="contenu">
		
		[<div class="#EDIT{descriptif} texte description clearfix" itemprop="description">
			(#DESCRIPTIF|adaptive_images{900})
		</div>]
		
		<div class="location" itemprop="location">
			[(#LIEU|ou{#ADRESSE}|oui)<h2>Localisation</h2>]
			<p>
				[<strong class="lieu #EDIT{lieu}">(#LIEU)</strong>]
				[(#LIEU|et{#ADRESSE}|?{<br/>})]
				[<span class="adresse #EDIT{adresse}">(#ADRESSE|PtoBR)</span>]
			</p>
			[(#PLUGIN{gis}|oui)
			[<div class="carte" id="geolocalisation">
			(#MODELE{carte_gis_objet,
				id_carte_gis=carte_evenement_#ID_EVENEMENT,
				objet=evenement,
				id_objet=#ID_EVENEMENT,
				height=360px,
				type=relief,
				zoom_molette=non,
				fullscreen=oui,
				centrer_auto=oui})
			</div>]
			]
		</div>
	</div>

	<aside>
		[(#REM) Gestion du portfolio et des documents ]
		<INCLURE{fond=inclure/galeries/portfolio,id_evenement,id_article=#EVAL{null},id_rubrique=#EVAL{null}} />
		<INCLURE{fond=inclure/documents,id_evenement,id_article=#EVAL{null},id_rubrique=#EVAL{null}} />		
	</aside>

</article>
</BOUCLE_evenement>
