<section class="container">
	<header class="cartouche">
		<h1><:plan_site:></h1>
	</header>

	<div class="contenu plan">

	<BOUCLE_secteurs(RUBRIQUES){racine}{par titre}>

		<h2 class="h2"><a href="#URL_RUBRIQUE">#TITRE</a></h2>

		[(#REM) Articles et sous-rubriques ]
		<B_articles_racine>
		<ul class="liste-items">
			<BOUCLE_articles_racine(ARTICLES){id_rubrique}{par titre}>[(#TOTAL_BOUCLE|>{1}|oui)
			<li class="item"><a href="#URL_ARTICLE">#TITRE</a></li>
			]</BOUCLE_articles_racine>
		</ul>
		</B_articles_racine>

		<B_rubriques>
		<ul class="liste-items">
			<BOUCLE_rubriques(RUBRIQUES){id_parent}{par titre}>
			<li class="item">
				<strong><a href="#URL_RUBRIQUE">#TITRE</a></strong>

				<B_articles>
				<ul class="liste-items">
					<BOUCLE_articles(ARTICLES){id_rubrique}{par titre}>[(#TOTAL_BOUCLE|>{1}|oui)
					<li class="item"><a href="#URL_ARTICLE">#TITRE</a></li>
					]</BOUCLE_articles>
				</ul>
				</B_articles>

				<BOUCLE_sous_rubriques(BOUCLE_rubriques)></BOUCLE_sous_rubriques>
			</li>
			</BOUCLE_rubriques>
		</ul>
		</B_rubriques>

	</BOUCLE_secteurs>
	</div>
</section>