<section class="container">
	<header class="cartouche">
		<h1><:resultats_recherche:>
			[<small>&#171;&nbsp;(#RECHERCHE)&nbsp;&#187;</small>]
		</h1>
		#FORMULAIRE_RECHERCHE
	</header>

	<div class="contenu">
		<INCLURE{fond=inclure/recherches/articles, env, ajax, largeur_image=400, hauteur_image=200} />
		<INCLURE{fond=inclure/recherches/rubriques, env, ajax, largeur_image=400, hauteur_image=200} />
	</div>
	
</section>
