<BOUCLE_content(RUBRIQUES){id_rubrique}>
<section class="container">

	<header class="cartouche">
		<h1 class="#EDIT{titre}">#TITRE</h1>
	</header>

	<div class="contenu">
		[<div class="#EDIT{texte} texte clearfix">(#TEXTE|adaptive_images)</div>]
		[(#REM)
			
			Si archive!=oui, on affiche les événements

		][(#ENV{archives}|!={oui}|oui)
		<div id="agenda" class="liste articles">
			[(#ID_RUBRIQUE|=={#ID_SECTEUR}|?{
				<INCLURE{fond=inclure/grilles/evenements, env, ajax,
								id_rubrique=#NULL,
								agenda=oui,
								balise_titre_article=h2} />
			,
				<INCLURE{fond=inclure/grilles/evenements, env, ajax,
								id_rubrique,
								balise_titre_article=h2} />
			})]
		</div>
		[(#REM)
			
			La bouton pour accéder aux archives

			]<p class="boutons"><a href="[(#SELF|parametre_url{archives,oui})]" class="bouton"><:zcm:voir_les_archives:></a></p>
			]
		[(#REM)
			
			Si archive=oui, on affiche les liens vers les rubriques du secteurs,
			donc les archives des saisons.

		][(#ENV{archives}|=={oui}|oui) <INCLURE{fond=inclure/menus/rubriques, id_parent=#ID_SECTEUR, id_menu=archives, class-ul=liste-items} />]
	</div>
	
	<aside>
		[(#REM) Gestion du portfolio et des documents ]
		<INCLURE{fond=inclure/galeries/portfolio,id_rubrique} />
		<INCLURE{fond=inclure/documents,id_rubrique} />
	</aside>

	[<footer>
		<div class="notes"><h2><:info_notes:></h2>(#NOTES)</div>
	</footer>]

	</section>
</BOUCLE_content>