<BOUCLE_content(RUBRIQUES){id_rubrique}>
<section>

	<header class="cartouche container">
		<h1 class="#EDIT{titre}">#TITRE</h1>
	</header>	

	<div class="main">
		[<div class="#EDIT{texte} texte container clearfix">(#TEXTE|adaptive_images)</div>]

		<B_article>
		<ul class="onepage">
		<BOUCLE_article(ARTICLES) {id_rubrique} {par num titre, titre}>
			<li><article itemscope itemtype="http://schema.org/Article" id="art#ID_ARTICLE" class="article container">
				<header>
					<h2 itemprop="headline" [class="(#EDIT{titre})"]>#TITRE[
					<small class="soustitre #EDIT{soustitre}">(#SOUSTITRE)</small>]</h2>
				</header>
				<div itemprop="articleBody" class="contenu">
					[<div class="#EDIT{chapo} chapo clearfix">(#CHAPO|ajuster_intertitres|adaptive_images)</div>]
					[<div class="#EDIT{texte} texte clearfix">(#TEXTE|ajuster_intertitres|adaptive_images)</div>]
				</div>
				<footer>
					[<div class="notes">
						<h3><:info_notes:></h3>
						(#NOTES)</div>]
				</footer>
				<aside>
					[(#REM) Gestion du portfolio et des documents de l'article ]
					<INCLURE{fond=inclure/galeries/portfolio, id_article, id_rubrique=#EVAL{null},
								largeur_image=295,
								hauteur_image=200} />
					<INCLURE{fond=inclure/documents, id_article, titre_balise=h3} />
				</aside>
			</article></li>
		</BOUCLE_article>
		</ul>
		</B_article>
	</div>

	<aside class="container">
		[(#REM) Gestion du portfolio et des documents de la rubrique ]
		<INCLURE{fond=inclure/galeries/portfolio, id_rubrique} />
		<INCLURE{fond=inclure/documents, id_rubrique} />
	</aside>

</section>
</BOUCLE_content>