<BOUCLE_content(RUBRIQUES){id_rubrique}>
<section class="container">
	<header class="cartouche">
		<h1[ class="(#EDIT{titre})"]>#TITRE</h1>
		[<p class="info-publi"><span class="published"><:dernier_ajout:> : (#DATE|affdate_jourcourt)</span></p>]
	</header>
	
	<div class="contenu">
		[<div class="#EDIT{texte} texte clearfix">(#TEXTE)</div>]

		<div class="liste articles actualites">
			<INCLURE{fond=inclure/listes/actualites, env, ajax,
							pagination=5,
							masquer_voirtout=oui} />
		</div>
		
	</div>
	
	<aside>
		[(#REM) Gestion du portfolio et des documents ]
		<INCLURE{fond=inclure/galeries/portfolio,id_rubrique} />
		<INCLURE{fond=inclure/documents,id_rubrique} />
	</aside>

	<footer>
		[<div class="notes"><h2><:info_notes:></h2>(#NOTES)</div>]
	</footer>
</section>
</BOUCLE_content>
