<BOUCLE_content(RUBRIQUES){id_rubrique}>
<section class="container">

	<header class="cartouche">
		<h1 class="#EDIT{titre}">#TITRE</h1>
	</header>

	<div class="contenu">
		[<div class="#EDIT{texte} texte clearfix">(#TEXTE|adaptive_images)</div>]

		<BOUCLE_articles(ARTICLES){id_rubrique}{0,1}>
			<INCLURE{fond=inclure/listes/articles, env, ajax,
							masquer_voirtout=oui} />
		</BOUCLE_articles>

		[(#REM) Si aucun article, affiche un plan de la rubrique ]
		<B_sous_rubriques>
		<div class="liste rubriques">
			<h2 class="h2"><:sous_rubriques:></h2>
			<ul class="menu-items">
				<BOUCLE_sous_rubriques(RUBRIQUES) {id_parent} {par num titre}>
				<li class="item">
					<a href="#URL_RUBRIQUE">[(#TITRE)]</a>

					[(#REM) Une boucle recursive pour le mini plan]
					<B_miniplan>
					<ul class="menu-items">
						<BOUCLE_miniplan(RUBRIQUES) {id_parent} {par num titre}>
						<li class="item">
							<a href="#URL_RUBRIQUE">[(#TITRE)]</a>
							<BOUCLE_m2(BOUCLE_miniplan)></BOUCLE_m2>
						</li>
						</BOUCLE_miniplan>
					</ul>
					</B_miniplan>

				</li>
				</BOUCLE_sous_rubriques>
			</ul>
			</div>
		</B_sous_rubriques>
	<//B_articles>
	</div>
	
	<aside>
		[(#REM) Gestion du portfolio et des documents ]
		<INCLURE{fond=inclure/galeries/portfolio,id_rubrique} />
		<INCLURE{fond=inclure/documents,id_rubrique} />
	</aside>

	[<footer>
		<div class="notes"><h2><:info_notes:></h2>(#NOTES)</div>
	</footer>]

</section>
</BOUCLE_content>