<section class="container">
	<header class="cartouche invisible">
		<h1>#NOM_SITE_SPIP [<small>(#SLOGAN_SITE_SPIP)</small>]</h1>
	</header>
	
	<div class="contenu">
		[<div id="descriptif_site_spip">(#DESCRIPTIF_SITE_SPIP)</div>]

		<INCLURE{fond=inclure/listes/articles, 
					masquer_voirtout=oui,
					nb=3} />

	</div>

</section>
