<section class="container">
	<header class="cartouche">
		<h1>#NOM_SITE_SPIP</h1>
	</header>

	<div class="contenu">
		<div class="pass">
			[(#ENV{p}|non)
				#FORMULAIRE_OUBLI
			]
			[(#ENV{p}|oui)
				#FORMULAIRE_MOT_DE_PASSE
			]
		</div>
	</div>
</section>