<article class="container" itemscope itemtype="http://schema.org/Article">

	<header class="cartouche">
		<p class="#EDIT{surtitre} surtitre">ZCM - Squelette modulaire SPIP/ZCore</p>
		<h1 itemprop="headline">Typographie de ZCM
			<small class="soustitre">Mise en page du thème</small>
		</h1>		
	</header>

	<div class="contenu clearfix" itemprop="articleBody">
		
		<div class="chapo surlignable">Cette page présente un échantillon des éléments HTML, pour tester les enrichissements typographiques possibles d'un document web.</div>

		<div class="#EDIT{texte} texte surlignable">
		
			<nav style="  position: sticky; top: 0; margin:4em 0; text-align:center; color: #fff; background: #000; ">
				<ul class="menu-items">
					<li class="item"><a href="http://tinytypo.tetue.net">Accueil</a></li>
					<li class="item"><a href="#typo">Typo</a></li>
					<li class="item"><a href="#links">Liens</a></li>
					<li class="item"><a href="#heading">Titres</a></li>
					<li class="item"><a href="#lists">Listes</a></li>
					<li class="item"><a href="#tables">Tableaux</a></li>
					<li class="item"><a href="#quotes">Citations</a></li>
					<li class="item"><a href="#boxes">Encadrés</a></li>
					<li class="item"><a href="#medias">Medias</a></li>
				</ul>
			</nav>
			
			<section id="typo">
				<h2>Paragraphes</h2>
				<p>Tout paragraphe est marqué par l'élément HTML <code>&lt;p&gt;</code>. L'idée principale doit être exprimée clairement au début du paragraphe. Les autres phrases servent à expliquer et à illustrer le message qu'on veut transmettre. Bref, un paragraphe pour chaque idée et une idée par paragraphe.
				<br>Ici, retour à la ligne, avec l'élément <code>&lt;br&gt;</code>. Espace&nbsp;insécable.</p>

				<p>Deuxième paragraphe. Selon la norme typographique adoptée, la première ligne d'un paragraphe peut être en retrait (alinéa rentrant). Sur un document électronique comportant de nombreux paragraphes courts, on évite parfois ce retrait pour le remplacer par une ligne vierge, détachant mieux les paragraphes et les prêtant ainsi mieux à la lecture rapide.</p>

				<hr>

				<p>Troisième paragraphe, précédé d&#8217;une ligne horizontale de séparation&nbsp;<code>&lt;hr&gt;</code>. La&nbsp;lecture sur écran est fastidieuse et provoque rapidement de la fatigue oculaire. Il&nbsp;est donc recommandé d'aérer le texte&nbsp;: faire des paragraphes courts et sauter une ligne entre chaque.</p>

				<h2 id="semantics">Marquages sémantiques</h2>
				<!-- Cf. : http://www.la-grange.net/w3c/html4.01/struct/text.html#h-9.2.1 -->

				<dl>
					<dt><code>&lt;em&gt;</code> et <code>&lt;strong&gt;</code></dt>
					<!-- Cf. : https://developer.mozilla.org/fr/docs/Web/HTML/Element/em -->
					<dd>L'élément d'emphase <code>&lt;em&gt;</code> sert à <em>insister</em> sur un texte. L'élément <code>&lt;strong&gt;</code> sert à donner plus d'<strong>importance</strong> à un texte. Exemple&nbsp;: l'italique est moins <em>lisible</em> sur écran, il convient d'en user <strong>avec parcimonie</strong>.</dd>

					<dt><code>&lt;i&gt;</code></dt>
					<dd>L'élément <code>&lt;i&gt;</code> sert à différencier des mots du texte principal, par exemple des termes techniques, ou des mots dans une langue étrangère, comme les locutions latines non francisées <i lang="la">a&nbsp;priori</i> ou <i lang="la">modus vivendi</i>.</dd>

					<dt><code>&lt;b&gt;</code></dt>
					<dd>L'élément <code>&lt;b&gt;</code> sert à distinguer un texte, sans lui apporter une importance particulière. Habituellement utilisé pour les <b>mots-clés</b> dans les résumés, les <b>noms de produits</b> dans des tests, ou encore pour la première phrase d'un paragraphe.</dd>

					<dt><code>&lt;abbr&gt;</code> <abbr title="Support incomplet" class="quiet">⚠</abbr> <del>et <code>&lt;acronym&gt;</code> <abbr title="N'existe plus en HTML5" class="quiet">⚠</abbr></del></dt>
					<dd>L'élément <code>&lt;abbr&gt;</code> représente une abréviation et permet d'en fournir une description complète. Exemple&nbsp;: le <abbr title="Cascading Style Sheets" lang="en">CSS</abbr> sert à habiller la structure <abbr title="HyperText Markup Language" lang="en">HTML</abbr>. L'élément <code>&lt;acronym&gt;</code> représentait une abréviation se prononçant comme un mot normal&nbsp;: y'a-t-il un <acronym title="objet volant non identifié">ovni</acronym> à l'<acronym title="Ouvroir de Littérature Potentielle">OuLiPo</acronym>&nbsp;? Ce dernier ne doit plus être utilisé mais remplacé par <code>&lt;abbr&gt;</code>.</dd>

					<dt><code>&lt;dfn&gt;</code></dt>
					<dd>L'élément <code>&lt;dfn&gt;</code> marque le terme que définit le texte environnant. Par exemple, le <dfn>courriel</dfn> est le système de courrier électronique qui nous permet d'envoyer des messages à travers le monde.</dd>

					<dt><code>&lt;del&gt;</code> et <code>&lt;ins&gt;</code></dt>
					<!-- Cf. : http://www.la-grange.net/w3c/html4.01/struct/text.html#h-9.4 -->
					<dd>Les éléments <code>&lt;del&gt;</code> et <code>&lt;ins&gt;</code> sont utilisés pour marquer les parties d'un document qui ont été <del>supprimées</del> ou <ins>insérées</ins>. Par exemple, un shérif peut employer <del>3</del><ins>5</ins> suppléants.</dd>

					<dt><code>&lt;u&gt;</code> <abbr title="Déprécié en HTML 4 et XHTML, ré-introduit en HTML5" class="quiet">⚠</abbr></dt>
					<!-- Cf.: https://developer.mozilla.org/fr/docs/Web/HTML/Element/u -->
					<dd>L'élément <code>&lt;u&gt;</code> permet d'afficher un <u>texte souligné</u>. Il s'utilise de façon exceptionnelle, pour signaler un texte mal <u>ortografié</u> ou un nom propre chinois, par exemple&nbsp;: <u lang="zh">汉代</u>. Le soulignement est réservé aux <a href="#links">hyperliens</a>.</dd>

					<dt><code>&lt;mark&gt;</code></dt>
					<dd>L'élément <code>&lt;mark&gt;</code> sert à <mark>surligner</mark> certains mots par rapport au contexte, comme les résultats d'une recherche dans le document ou pour attirer l'attention sur certains mots d'une citation. Pour le <span class="mark">même effet visuel</span>, non sémantique, utilisez <code>.mark</code>.</dd>

					<dt><code>&lt;small&gt;</code> <del>et <code>&lt;big&gt;</code> <abbr title="N'existe plus en HTML5" class="quiet">⚠</abbr></del></dt>
					<!-- Cf.: https://developer.mozilla.org/fr/docs/Web/HTML/Element/small -->
					<dd>L'élément <code>&lt;small&gt;</code> représente des annotations et des petits caractères comme les <small>mentions légales</small> ou liées au <small>copyright</small>. Comme l'élément <code>&lt;big&gt;</code> ne se limite qu'à de la présentation formelle, il ne doit <big>plus</big> être utilisé, mais remplacé par le sélecteur CSS <code>.big</code>.</dd>

					<dt><code>&lt;sub&gt;</code> et <code>&lt;sup&gt;</code></dt>
					<!-- Cf.: http://www.la-grange.net/w3c/html4.01/struct/text.html#h-9.2.3 -->
					<dd>Les éléments <code>&lt;sub&gt;</code> et <code>&lt;sup&gt;</code> marquent les indices et les exposants, par exemple&nbsp;: <abbr>H<sub>2</sub>O</abbr> et&nbsp;E=mc<sup>2</sup>. Ne&nbsp;pas confondre <abbr title="numéro">n<sup>o</sup></abbr> et&nbsp;<abbr title="degré Celsius">°C</abbr>.</dd>

					<dt><code>&lt;time&gt;</code></dt>
					<dd>L'élément <code>&lt;time&gt;</code> représente une heure ou une date précise du calendrier grégorien et pour les rendre interprétables par un ordinateur. Née le <time datetime="1815-12-10">10 décembre 1815</time> et morte le <time datetime="1852-11-27">27 novembre 1852</time> à Londres, Ada Lovelace est considérée comme <q>le premier programmeur du monde</q>.</dd>
				</dl>

				<p>Astuce&nbsp;: pour obtenir le même effet visuel, mais sans incidence sémantique, utilisez les sélecteurs CSS homonymes&nbsp;: <code>.i</code>, <code>.b</code>, <code>.del</code>, <code>.ins</code>, <code>.small</code>, etc.

				<h3>Autres enrichissements typographiques</h3>

				<p>Les enrichissements typographiques suivants ne sont pas disponibles nativement en&nbsp;HTML et sont donc proposés en&nbsp;CSS par Tiny&nbsp;Typo&nbsp;:</p>

				<ul>
					<li><code>.quiet</code> pour du texte discret&nbsp;: <span class="quiet">Majuscule et CAPITALES</span></li>
					<li><code>.lw</code> pour passer en minuscules&nbsp;: <span class="lw">Majuscule et CAPITALES</span></li>
					<li><code>.up</code> pour passer en capitales&nbsp;: <span class="up">Majuscule et CAPITALES</span></li>
					<li><code>.sc</code> pour passer en petites capitales&nbsp;: <span class="sc">Majuscule et CAPITALES</span></li>
					<li><code>.caps</code> pour des capitales avec majuscules&nbsp;: <span class="caps">Majuscule et CAPITALES</span></li>
					<!-- Cf.: https://orthogaffe.wordpress.com/2010/03/01/petites-capitales/ -->
				</ul>
			</section>
		
			<section id="links">
				<h2>Ancres et liens</h2>
				<!-- Cf.: https://developer.mozilla.org/fr/docs/Web/HTML/Element/a -->
				<!-- Cf.: http://letrainde13h37.fr/43/signaletique-hyperliens/ -->

				<p>L'hyperlien <code>&lt;a&gt;</code> est le fondement de la navigation sur le Web. Ceux-ci doivent être visuellement distingués du reste du contenu. Les hyperliens de même nature ont des couleurs, des formes et des comportements identiques sur toutes les pages. Tiny&nbsp;Typo les signale ainsi&nbsp;:</p>

				<ul class="list-none">
					<li><a href="">Lien interne</a></li>
					<li><code>.external</code>&nbsp;: <a href="https://justinjackson.ca/words_fr.html" class="external">Lien externe</a></li>
					<li><code>.mailto</code>&nbsp;: <a href="mailto:adresse@courriel.net" title="Écrire à adresse@courriel.net" class="mailto">Ecrivez-nous&nbsp;!</a></li>
					<li><code>.tel</code>&nbsp;: <a href="tel:+33123456789" class="tel">+33 1 23 45 67 89</a></li>
					<li><code>.download</code>&nbsp;: <a href="" download class="download">Document à télécharger <small class="ext">(<abbr title="Document PDF">PDF</abbr> &ndash; 215&nbsp;Ko)</small></a></li>
				</ul>

				<p>Lorsqu'elle diffère de la page d'origine, la langue de la cible est renseignée dans l'attribut HTML <code>hreflang=""</code> qui s'affiche ainsi&nbsp;:</p>

				<ul class="list-none">
					<li><a href="" hreflang="en">Lien interne</a></li>
					<li><code>.external</code>&nbsp;: <a href="https://justinjackson.ca/words.html" class="external" hreflang="en">Lien externe</a></li>
					<li><code>.mailto</code>&nbsp;: <a href="mailto:adresse@courriel.net" title="Écrire à adresse@courriel.net" class="mailto" hreflang="en">Ecrivez-nous&nbsp;!</a></li>
					<li><code>.tel</code>&nbsp;: <a href="tel:+442079460886" class="tel" hreflang="en">+44 20 7946 0886</a></li>
					<li><code>.download</code>&nbsp;: <a href="" download class="download" hreflang="en">Document à télécharger <small class="ext">(<abbr title="Document PDF">PDF</abbr> &ndash; 215&nbsp;Ko)</small></a></li>
				</ul>

				<p>Les <a href="">liens internes</a> et les <a href="https://checklists.opquast.com/oqs-v3/criteria/les-hyperliens-internes-et-externes-sont-differencies" title="Bonne pratique Opquast N&#176;188" class="external">liens externes</a> sont différenciés. Lorsqu'elle différe de la page d'origine, mieux vaut spécifier la langue de destination&nbsp;: voici la liste des <a href="https://www.w3.org/2005/11/Translations/Lists/ListLang-fr.html" class="external">traductions françaises du&nbsp;<abbr title="World Wide Web Consortium">W3C</abbr></a> et la dernière <a href="https://www.w3.org/TR/html51/" hreflang="en" class="external">recommandation HTML&nbsp;5.1</a>. Pour en savoir plus, lire cet article sur la <a href="http://letrainde13h37.fr/43/signaletique-hyperliens/" class="external">signalétique des hyperliens</a>.</p>

				<p>Ancre de retour en haut de page&nbsp;: <a href="#top">#top</a></p>
			</section>
		
			<section id="heading">
				<h1>Titre de niveau&nbsp;h1</h1>
				<p>Chaque page web est identifiée par un titre, unique dans le site. C'est le titre de premier niveau du document. Il est balisé par l'élément HTML <code>&lt;h1&gt;</code>. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

				<h2>Titre de niveau&nbsp;h2</h2>
				<p>Le titre ci-dessus est de niveau&nbsp;2, balise <code>&lt;h2&gt;</code>. Il s'utilise après un élément <code>&lt;h1&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

				<h3>Titre de niveau&nbsp;h3</h3>
				<p>Le titre ci-dessus est de niveau&nbsp;3, balise <code>&lt;h3&gt;</code>. Il s'utilise après un élément <code>&lt;h2&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

				<h4>Titre de niveau&nbsp;h4</h4>
				<p>Le titre ci-dessus est de niveau&nbsp;4, balise <code>&lt;h4&gt;</code>. Il s'utilise après un élément <code>&lt;h3&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

				<h5>Titre de niveau&nbsp;h5</h5>
				<p>Le titre ci-dessus est de niveau&nbsp;5, balise <code>&lt;h5&gt;</code>. Il s'utilise après un élément <code>&lt;h4&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

				<h6>Titre de niveau&nbsp;h6</h6>
				<p>Le titre ci-dessus est de niveau&nbsp;6, balise <code>&lt;h6&gt;</code>. Il s'utilise après un élément <code>&lt;h5&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

				<div class="lead">
					<p>Le chapeau, ici distingué par le sélecteur CSS <code>.lead</code>, est un texte généralement court, précédant le corps d'un article, et dont le but est d'en encourager la lecture, en résumant le propos qui va être développé.</p>
				</div>

				<h1>Titre&nbsp;1 avec <a href="">lien</a> <small>et small</small></h1>
				<h2>Titre&nbsp;2 avec <a href="">lien</a> <small>et small</small></h2>
				<h3>Titre&nbsp;3 avec <a href="">lien</a> <small>et small</small></h3>
				<h4>Titre&nbsp;4 avec <a href="">lien</a> <small>et small</small></h4>
				<h5>Titre&nbsp;5 avec <a href="">lien</a> <small>et small</small></h5>
				<h6>Titre&nbsp;6 avec <a href="">lien</a> <small>et small</small></h6>
				<p>Ci-dessus, titres avec <code>&lt;a&gt;</code> et <code>&lt;small&gt;</code>.</p>

				<h2 id="fontsize">Tailles de texte</h2>
				<p>La taille du texte est définie en une fois pour l'ensemble du document. Elle s'exprime en unités relatives (<code>em</code> et&nbsp;<code>%</code>) afin de permettre aux lecteur/trices de l'agrandir facilement si&nbsp;besoin.</p>
				<p class="big">N'utilisez jamais les titres <code>h…</code> pour afficher un texte plus gros&nbsp;!</p>
				<div class="half">
					<ul class="list-none">
						<li class="p"><span class="biggest">Texte plus gros</span><br>avec <code>.biggest</code></li>
						<li class="p"><span class="bigger">Texte plus gros</span><br>avec <code>.bigger</code></li>
						<li class="p"><span class="big">Texte plus gros</span><br>avec <code>.big</code></li>
						<li class="p">Texte de base</li>
						<li class="p"><span class="small">Texte plus petit</span><br>avec <code>.small</code></li>
						<li><span class="smaller">Texte plus petit</span><br>avec <code>.smaller</code></li>
					</ul>
				</div>
				<div class="half">
					<p>Il est possible —&nbsp;par exemple lorsque l'habillage graphique ne coïncide pas parfaitement avec la réalité du document&nbsp;HTML&nbsp;— de styler d'autres éléments HTML comme des titres, avec <code>.h1</code>, <code>.h2</code>, <code>.h3</code>, etc.&nbsp;:</p>
					<strong class="h1">Comme&nbsp;h1</strong>
					<strong class="h2">Comme&nbsp;h2</strong>
					<strong class="h3">Comme&nbsp;h3</strong>
					<strong class="h4">Comme&nbsp;h4</strong>
					<strong class="h5">Comme&nbsp;h5</strong>
					<strong class="h6">Comme&nbsp;h6</strong>
				</div>
			</section>


			<section class="clear" id="lists">
				<h2>Listes</h2>

				<div class="half">
					<p>Liste, avec <code>&lt;ul&gt;</code>&nbsp;:</p>
					<ul>
						<li>Rouge tomate, chaud et&nbsp;dynamisant</li>
						<li>Vert sapin, naturel et&nbsp;équilibrant</li>
						<li>Bleu océan, profond et&nbsp;reposant</li>
						<li>Jaune soleil, vif et&nbsp;réjouissant</li>
					</ul>
				</div>
				<div class="half">
					<p>Énumération, avec <code>&lt;ol&gt;</code>&nbsp;:</p>
					<ol>
						<li>Coupez les tomates et la mozzarella en fines tranches&nbsp;;</li>
						<li>Intercalez les tranches&nbsp;;</li>
						<li>Arrosez d'un filet d'huile d'olive&nbsp;;</li>
						<li>Parsemez de basilic fraîchement haché.</li>
					</ol>
				</div>

				<p>Liste de définitions, avec <code>&lt;dl&gt;</code>, <code>&lt;dd&gt;</code>, <code>&lt;dt&gt;</code>&nbsp;:</p>

				<dl>
					<dt>Internet</dt>
					<dd>Réseau informatique international qui connecte les ordinateurs entre eux, tout comme le réseau routier relie les villes entre elles. Ce réseau propose trois types de services fondamentaux&nbsp;: le courriel, le Web et l'échange de fichiers.</dd>
					<dt>Web</dt>
					<dd>Le <i lang="en">World Wide Web</i> est le système hypertexte permettant de visiter des pages sur le réseau Internet.</dd>
				</dl>

				<h3>Listes hétérogènes</h3>

				<div class="half">
					<ul>
						<li>Rouge</li>
						<li>Orange
							<ul>
								<li>Dans la nature
									<ul>
										<li>Courges
											<ul>
												<li>Citrouille</li>
												<li>Potiron</li>
											</ul>
										</li>
										<li>Carotte</li>
										<li>Abricot</li>
									</ul>
								</li>
								<li>Objets frabriqués
									<ul>
										<li>Mimolette</li>
										<li>Feu clignotant</li>
										<li>Robe des moines boudhistes</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>Jaune</li>
						<li>Vert</li>
						<li>Bleu</li>
						<li>Indigo</li>
						<li>Violet</li>
					</ul>
				</div>

				<div class="half">
					<ol>
						<li>Premier item</li>
						<li>Deuxième item</li>
						<li>Troisième item</li>
						<li>Quatrième item</li>
						<li>Cinquième item
							<ol>
								<li>Premier</li>
								<li>Deuxième
									<ol>
										<li>Premier</li>
										<li>Deuxième
											<ol>
												<li>Premier</li>
												<li>Deuxième</li>
												<li>Troisième</li>
											</ol>
										</li>
										<li>Troisième</li>
									</ol>
								</li>
								<li>Troisième</li>
							</ol>
						</li>
						<li>Sixième item</li>
						<li>Septième item</li>
					</ol>
				</div>

				<ul class="clear">
					<li>Exemple de liste ordinaire</li>
					<li>les éléments d’une liste dans une phrase commencent par une minuscule et se terminent par une virgule, sauf le dernier élément qui, s’il termine la phrase, prend un point
						<ol>
							<li>Exemple d'énumération</li>
							<li>Avec du texte long, pouvant s'écouler sur plusieurs lignes. Les éléments d’une liste formée de plusieurs phrases se comportent comme des alinéas (majuscule en début, point à la ﬁn).
								<ul>
									<li>Troisième niveau
										<ul>
											<li>Chat
												<ol>
													<li>Felix</li>
													<li>Kiki la Doucette</li>
												</ol>
											</li>
											<li>Chien</li>
											<li>Perruche</li>
										</ul>
									</li>
									<li>Troisième niveau</li>
									<li>Troisième niveau</li>
								</ul>
							</li>
						</ol>
					</li>
				</ul>

				<dl>
					<dt>Internet</dt>
					<dd>
						<p>Réseau informatique international qui connecte les ordinateurs entre eux, tout comme le réseau routier relie les villes entre elles. Ce réseau propose trois types de services fondamentaux&nbsp;:</p>
						<ul>
							<li>le courriel,</li>
							<li>le Web</li>
							<li>et l'échange de fichiers.</li>
						</ul>
					</dd>
					<dt>Web</dt>
					<dd>Le <i lang="en">World Wide Web</i> est le système hypertexte permettant de visiter des pages sur le réseau Internet.</dd>
				</dl>

				<div style="display: none;">
					<h3>Effets de style</h3>

					<p>Avec Tiny&nbsp;Typo, il est possible de varier le style des listes avec les sélecteurs CSS <code>.list-none</code>, <code>.list-square</code>, <code>.list-disc</code>, <code>.list-circle</code> ou <code>.list-decimal</code>&nbsp;:</p>

					<div class="half">

						<ul class="list-none">
							<li>Rouge tomate, chaud et&nbsp;dynamisant</li>
							<li>Vert sapin, naturel et&nbsp;équilibrant</li>
							<li>Bleu océan, profond et&nbsp;reposant</li>
							<li>Jaune soleil, vif et&nbsp;réjouissant</li>
						</ul>

						<ul class="list-square">
							<li>Rouge tomate, chaud et&nbsp;dynamisant</li>
							<li>Vert sapin, naturel et&nbsp;équilibrant</li>
							<li>Bleu océan, profond et&nbsp;reposant</li>
							<li>Jaune soleil, vif et&nbsp;réjouissant</li>
						</ul>

						<ul class="list-disc">
							<li>Rouge tomate, chaud et&nbsp;dynamisant</li>
							<li>Vert sapin, naturel et&nbsp;équilibrant</li>
							<li>Bleu océan, profond et&nbsp;reposant</li>
							<li>Jaune soleil, vif et&nbsp;réjouissant</li>
						</ul>

						<ul class="list-circle">
							<li>Rouge tomate, chaud et&nbsp;dynamisant</li>
							<li>Vert sapin, naturel et&nbsp;équilibrant</li>
							<li>Bleu océan, profond et&nbsp;reposant</li>
							<li>Jaune soleil, vif et&nbsp;réjouissant</li>
						</ul>

					</div>
					<div class="half">

						<ul class="list-decimal">
							<li>Rouge tomate, chaud et&nbsp;dynamisant</li>
							<li>Vert sapin, naturel et&nbsp;équilibrant</li>
							<li>Bleu océan, profond et&nbsp;reposant</li>
							<li>Jaune soleil, vif et&nbsp;réjouissant</li>
						</ul>

						<ul class="list-none">
							<li>Lorem ipsum dolor sit amet</li>
							<li>Consectetuer adipiscing elit
								<ul class="list-circle">
									<li>Lorem ipsum dolor sit amet</li>
									<li>Consectetuer adipiscing elit
										<ol>
											<li>Rouge tomate, chaud et&nbsp;dynamisant</li>
											<li>Vert sapin, naturel et&nbsp;équilibrant</li>
											<li>Bleu océan, profond et&nbsp;reposant</li>
											<li>Jaune soleil, vif et&nbsp;réjouissant</li>
										</ol>
									</li>
									<li>Nam egestas, neque ac semper dictum</li>
									<li>Jaune soleil, vif et&nbsp;réjouissant</li>
								</ul>
							</li>
							<li>Nam egestas, neque ac semper dictum</li>
							<li>Leo ante hendrerit ante</li>
						</ul>
					</div>

					<h3 class="clear">Listes horizontales</h3>

					<p>Il est possible d'afficher une liste à l'horizontale avec <code>.list-inline</code>&nbsp;:</p>

					<ul class="list-inline">
						<li>Rouge tomate, chaud et&nbsp;dynamisant</li>
						<li>Vert sapin, naturel et&nbsp;équilibrant</li>
						<li>Bleu océan, profond et&nbsp;reposant</li>
						<li>Jaune soleil, vif et&nbsp;réjouissant</li>
					</ul>

					<p>Chaque liste horizontale peut être complétée avec <code>.list-inline-sep</code>, <code>.list-inline-dash</code> ou <code>.list-inline-comma</code>&nbsp;:</p>

					<ul class="list-inline list-inline-sep">
						<li>Rouge tomate, chaud et&nbsp;dynamisant</li>
						<li>Vert sapin, naturel et&nbsp;équilibrant</li>
						<li>Bleu océan, profond et&nbsp;reposant</li>
						<li>Jaune soleil, vif et&nbsp;réjouissant</li>
					</ul>

					<ul class="list-inline list-inline-dash">
						<li>Rouge tomate, chaud et&nbsp;dynamisant</li>
						<li>Vert sapin, naturel et&nbsp;équilibrant</li>
						<li>Bleu océan, profond et&nbsp;reposant</li>
						<li>Jaune soleil, vif et&nbsp;réjouissant</li>
					</ul>

					<ul class="list-inline list-inline-comma">
						<li>Rouge tomate, chaud et&nbsp;dynamisant</li>
						<li>Vert sapin, naturel et&nbsp;équilibrant</li>
						<li>Bleu océan, profond et&nbsp;reposant</li>
						<li>Jaune soleil, vif et&nbsp;réjouissant</li>
					</ul>

					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>
						Consectetuer adipiscing elit
							<ul class="list-inline list-inline-comma">
								<li><a href="">Rouge tomate, chaud et&nbsp;dynamisant</a></li>
								<li><a href="">Vert sapin, naturel et&nbsp;équilibrant</a></li>
								<li><a href="">Bleu océan, profond et&nbsp;reposant</a></li>
								<li><a href="">Jaune soleil, vif et&nbsp;réjouissant</a></li>
							</ul>
						</li>
						<li>Nam egestas, neque ac semper dictum</li>
						<li>Leo ante hendrerit ante</li>
					</ul>

					<nav>
						<ul class="list-inline list-inline-sep">
							<li><a href="">Rouge tomate, chaud et&nbsp;dynamisant</a></li>
							<li><a href="">Vert sapin, naturel et&nbsp;équilibrant</a></li>
							<li><a href="">Bleu océan, profond et&nbsp;reposant</a></li>
							<li><a href="">Jaune soleil, vif et&nbsp;réjouissant</a></li>
						</ul>
					</nav>
				</div>
			</section>


			<section id="tables">
				<h2>Tableaux de données</h2>
				<!-- Cf. : https://developer.mozilla.org/fr/docs/Web/HTML/Element/table -->

				<p>Autrefois employé pour mettre en page, l'élément HTML <code>&lt;table&gt;</code> n'est pas stylé par défaut. Utilisez systématiquement le sélecteur CSS <code>.table</code> et les éléments associés —&nbsp;<code>&lt;tbody&gt;</code>, <code>&lt;thead&gt;</code>, <code>&lt;tr&gt;</code>, <code>&lt;td&gt;</code>, <code>&lt;th&gt;</code>&nbsp;— pour baliser les tableaux de données. Indiquez un titre via l'élément <code>&lt;caption&gt;</code>.</p>

				<table class="table">
					<caption>Titre du tableau</caption>
					<thead>
						<tr>
							<th scope="col">entête</th>
							<th scope="col">R</th>
							<th scope="col">V</th>
							<th scope="col">B</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td>footer</td>
							<td>footer</td>
							<td>footer</td>
							<td>footer</td>
						</tr>
					</tfoot>
					<tbody>
						<tr class="odd">
							<td>Rouge</td>
							<td>255</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr class="even">
							<td>Vert</td>
							<td>0</td>
							<td>255</td>
							<td>0</td>
						</tr>
						<tr class="odd">
							<td>Bleu</td>
							<td>0</td>
							<td>0</td>
							<td>255</td>
						</tr>
					</tbody>
				</table>

				<p>Un tableau présente des données, souvent chiffrées. Les tableaux de données doivent être titrés et les cellules reliées à leurs en-têtes.</p>

				<div class="scroll">
					<table class="table">
						<caption>Tableau à cellules fusionnées</caption>
						<thead>
							<tr>
								<th scope="col"><abbr title="numéro">#</abbr></th>
								<th scope="col">Nom</th>
								<th scope="col" class="text-right">Valeur</th>
								<th scope="col" class="text-right"><abbr title="Évolution">Évol.</abbr></th>
								<th scope="col" class="text-right"><abbr title="Pourcentage">%</abbr></th>
								<th scope="col">URL</th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd">
								<td rowspan="2">1</td>
								<td>Lorem ipsum dolor sit amet</td>
								<td class="text-right">1.38</td>
								<td class="text-right">-0.01</td>
								<td class="text-right">-0.36&nbsp;%</td>
								<td><a href="">URL</a></td>
							</tr>
							<tr class="even">
								<td>Consectetuer adipiscing elit</td>
								<td class="text-right">1.15</td>
								<td class="text-right">+0.02</td>
								<td class="text-right">1.32&nbsp;%</td>
								<td><a href="">URL</a></td>
							</tr>
							<tr class="odd">
								<td>2</td>
								<td colspan="2">Nam egestas, neque ac semper dictum</td>
								<td class="text-right">-0.04</td>
								<td class="text-right">-0.99&nbsp;%</td>
								<td><a href="" class="external">URL</a></td>
							</tr>
							<tr class="even">
								<td>3</td>
								<td>Leo ante hendrerit ante</td>
								<td class="text-right">4.00</td>
								<td class="text-right">+0.06</td>
								<td class="text-right">2.04&nbsp;%</td>
								<td><a href="">URL</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>


			<section id="quotes">
				<h2>Citations, code et&nbsp;poésie</h2>

				<h3>Citations</h3>
				<!-- Cf.: http://romy.tetue.net/361 -->

				<p>Les citations s'emploient pour signaler un changement de locuteur/trice dans le texte. Voici une citation ordinaire, avec la balise&nbsp;HTML <code>&lt;blockquote&gt;</code>, où la source est ici distinguée par <code>.src</code>&nbsp;:</p>
				<!-- Cf.: http://romy.tetue.net/1009 -->

				<blockquote>
					<p>Mettre le Web et ses services à la disposition de tous les individus, quels que soient leur matériel ou logiciel, leur infrastructure réseau, leur langue maternelle, leur culture, leur localisation géographique, ou leurs aptitudes physiques ou mentales.
					<br><small class="src">Tim Berners-Lee, inventeur du Web.</small></p>
				</blockquote>

				<p>Pour les citations au fil du texte, on utilise la balise&nbsp;HTML <code>&lt;q&gt;</code> (ci-après avec changement de langue)&nbsp;: <q lang="la" cite="http://fr.wikipedia.org/wiki/Mens_sana_in_corpore_sano">Mens sana in corpore sano</q>, dixième <cite>Satire</cite> de Juvénal. <q lang="ja">頑張ってください</q> s'exclama-t-il alors.<p>

				<blockquote class="text-center big" lang="en" cite="http://www.evene.fr/citations/auteur.php?ida=760">
					<p>Web Design is 95% Typography.</p>
					<footer class="src"><a href="https://ia.net/topics/the-web-is-all-about-typography-period/" class="external">Oliver Reichenstein &#8211; iA</a>.</footer>
				</blockquote>

				<p>Les citations peuvent être imbriquées. Par exemple, le procès-verbal rapporte&nbsp;: <q>La&nbsp;professeur clôtura le dernier atelier en lançant&nbsp;: <q>Je&nbsp;vous dis à tous et toutes&nbsp;: <q lang="en">happy holidays!</q> et <q lang="ar" dir="rtl">أعيادا سعيدة</q> et j'espère vous retrouver en pleine forme au retour</q>.</q><p>

				<p>N'oublions la balise&nbsp;HTML <code>&lt;cite&gt;</code>&nbsp;<abbr title="À réserver aux titres d'ouvrages" class="quiet">⚠</abbr>, qui signale un titre d'œuvre, par exemple dans une référence bibliographique&nbsp;: <span class="caps">Douglas</span> Adams, <cite>Le Guide du routard galactique</cite>, Paris, Denoël, 1982, 224&nbsp;pages.</p>

				<h3 id="code">Code</h3>
				<!-- Cf.: http://romy.tetue.net/543 -->

				<p>Plusieurs éléments HTML servent à citer des bouts de code informatique&nbsp;:</p>

				<ul class="list-none">
					<li><code>&lt;code&gt;</code>&nbsp;: <code>extrait de code</code></li>
					<li><code>&lt;var&gt;</code>&nbsp;: <var>variable</var></li>
					<li><code>&lt;samp&gt;</code>&nbsp;: <samp>extrait de script</samp></li>
					<li><code>&lt;kbd&gt;</code>&nbsp;: <kbd>raccourci-clavier</kbd></li>
					<li><code>&lt;tt&gt;</code> <abbr title="À éviter car obsolète" class="quiet">⚠</abbr>&nbsp;: <tt>teletype</tt></li>
				</ul>

				<p>L'élément <code>&lt;pre&gt;</code> matérialise un bloc de texte pré-formaté, par exemple de l'<abbr title="American Standard Code for Information Interchange" lang="en">ASCII</abbr>&nbsp;art&nbsp;:</p>

				<pre> ____ ____ ____      
			||p |||r |||e ||     
			||__|||__|||__||     
			|/__\|/__\|/__\|
			</pre>

				<p>Autre exemple, avec du code informatique&nbsp;:</p>

				<pre><code>&lt;!doctype html&gt;
			&lt;html lang=&quot;fr&quot;&gt;
				&lt;head&gt;
					&lt;title&gt;Titre de la page&lt;/title&gt;
					&lt;link rel=&quot;stylesheet&quot; href=&quot;css/tinytypo.css&quot;&gt;
				&lt;/head&gt;
				&lt;body&gt;
					&lt;h1&gt;Ma premi&egrave;re page web&lt;h1&gt;
					&lt;!-- Le reste du contenu --&gt;
					...
				&lt;/body&gt;
			&lt;/html&gt;</code></pre>

				<h3>Contact</h3>
				<!-- Cf.: https://developer.mozilla.org/fr/docs/Web/HTML/Element/address -->

				<p>Le moyen de contacter les auteur·e·s du document se marque avec <code>&lt;address&gt;</code> (et non pas pour toute adresse, par exemple postale), typiquement utilisé dans le <code>&lt;footer&gt;</code>&nbsp;:</p>

				<address>
					<a href="http://tinytypo.tetue.net">tinytypo.tetue.net</a>
					<br>Contactez-nous via <a href="https://github.com/tetue/tinytypo" class="external">Github</a>
				</address>

			</section>


			<section id="boxes">
				<h2>Alignements et&nbsp;encadrés</h2>

				<p>Avec Tiny&nbsp;Typo, il est possible d'aligner les blocs et de créer des encadrés, par l'ajout de sélecteurs&nbsp;CSS&nbsp;:</p>

				<div class="half">
					<ul class="list-none">
						<li><code>.text-left</code>&nbsp;: ferre le texte à gauche</li>
						<li><code>.text-right</code>&nbsp;: ferre le texte à droite</li>
						<li><code>.text-center</code>&nbsp;: centre le texte</li>
						<li><code>.text-justify</code>&nbsp;: justifie le texte</li>
						<li><code>.box</code>&nbsp;: encadré</li>
					</ul>
				</div>
				
				<div class="half">
					<ul class="list-none">
						<li><code>.left</code>&nbsp;: positionne le bloc à gauche</li>
						<li><code>.right</code>&nbsp;: positionne le bloc à gauche</li>
						<li><code>.center</code>&nbsp;: centre le bloc</li>
						<li><code>.p</code>&nbsp;: marge basse, calée sur la grille, comme les paragraphes</li>
					</ul>
				</div>

				<h3 class="clear">Alignements</h3>

				<div class="text-justify">
					<p>Texte justifié avec <code>.text-justify</code>. Il est possible de justifier le texte, c'est-à-dire que toutes les lignes d'un paragraphe aient la même longueur. Est-ce intéressant de le faire&nbsp;? D'un point de vue de lisibilité, des études montrent qu'un texte en drapeau est plus accessible à l'œil&nbsp;: l'irrégularité des fins de lignes sert de repère visuel et fatigue moins le lecteur. Pourtant, un alignement justifié donne un résultat esthétique plus agréable et une impression de plus grande régularité.</p>
				</div>
				<div class="text-left">
					<p>Texte ferré à gauche avec <code>.text-left</code>. Il ne faut pas confondre le terme de justification avec l'expression « justifié » à gauche ou à droite souvent employée à tort à la place de « ferré » à gauche ou à droite. Les textes sont par défaut ferrés à gauche et sont par nature, selon la taille de l'écran, sa définition et la taille de la fenêtre dans laquelle le texte apparaît, d'une justification plus ou moins longue.</p>
				</div>
				<div class="text-center">
					<p>Texte centré avec <code>.text-center</code>. Un texte peut être centré sur un axe vertical central. Lorsque vous centrez un texte, pensez à annuler le retrait de première ligne pour le paragraphe concerné, si vous l’utilisez. Pourquoi&nbsp;? Parce que le texte ne se centre pas entre les marges de la page, mais entre le retrait de première ligne (à&nbsp;gauche) et la marge de&nbsp;droite. Hé&nbsp;oui, c’est la&nbsp;vie.</p>
				</div>
				<div class="text-right">
					<p>Texte ferré à droite avec <code>.text-right</code>. Le terme de «&nbsp;fer&nbsp;» vient de la façon dont le compositeur alignait les lignes sur son composteur en typographie&nbsp;: les lignes étaient alignées sur le «&nbsp;fer&nbsp;» à gauche, sur la partie mobile du composteur, afin de créer un «&nbsp;drapeau&nbsp;» à&nbsp;droite&nbsp;; elles étaient «&nbsp;ferrées&nbsp;» à droite, sur la partie fixe du composteur, afin de créer un «&nbsp;drapeau&nbsp;» à&nbsp;gauche.</p>
				</div>

				<h3>Encadrés</h3>
				<!-- Cf. : https://developer.mozilla.org/fr/docs/Web/HTML/Element/aside -->

				<p>Les encadrés, typiquement <code>&lt;aside&gt;</code>, sont caractérisés par le sélecteur CSS <code>.box</code>. Ils&nbsp;peuvent être positionnés avec <code>.left</code>, <code>.right</code> et&nbsp;<code>.center</code>, et ferrés avec les classes précédentes.</p>

				<aside class="box">
					<p>Encadré par défaut. Nulla facilisi. Integer venenatis, metus eu ultrices consectetur, lacus felis venenatis mi, quis condimentum turpis turpis nec elit. Ut vel est a lorem suscipit aliquam. Cras metus sem, sagittis sit amet <strong>important</strong> viverra quis, consectetur vel <i>italique</i> massa. Proin ante urna, aliquam eu dictum eu, eleifend ut leo. Nullam euismod lobortis nunc, non suscipit odio tristique at <a href="https://justinjackson.ca/words_fr.html" class="external">des&nbsp;mots</a>, encore des mots. Mauris dictum, ligula vitae accumsan interdum, leo quam sodales lectus, vel mattis leo lacus quis ante.</p>
				</aside>

				<p>Maecenas fringilla dignissim venenatis. Donec ut mi a odio sagittis facilisis. Fusce in risus elit. In quam turpis, elementum et elementum rutrum, dictum quis nibh. Morbi iaculis eros in purus pellentesque accumsan pellentesque sem porttitor. Aliquam erat volutpat. Donec vitae luctus neque.</p>

				<aside class="box left text-right">
					<p>Exemple d'encadré flottant à&nbsp;gauche et ferré à&nbsp;droite. Nulla facilisi. Integer venenatis, metus eu ultrices consectetur, lacus felis venenatis mi, quis condimentum turpis turpis nec elit. Ut vel est a lorem suscipit aliquam. Cras metus sem, sagittis sit amet <strong>important</strong> viverra quis, consectetur vel <i>italique</i> massa.</p>
				</aside>

				<p>Connaissez-vous l’histoire de l’inspecteur qui critique dans une classe l'importance que l’instituteur accorde à la ponctuation&nbsp;? Ce&nbsp;dernier fait alors écrire par une élève au tableau&nbsp;: «&nbsp;L’inspecteur dit&nbsp;: l’instituteur est un&nbsp;âne&nbsp;». L’inspecteur se récrie. L’instituteur fait alors corriger&nbsp;: «&nbsp;L’inspecteur, dit l’instituteur, est un&nbsp;âne&nbsp;».</p>

				<p>Duis sodales erat et odio imperdiet vitae sodales ligula dapibus. Sed commodo orci a nisi iaculis sit amet mollis ante sagittis. Praesent dapibus ligula eget massa vehicula rhoncus. Vestibulum purus odio, hendrerit nec faucibus vel, commodo eu justo. Sed rhoncus ligula vel velit consectetur pharetra. In pellentesque justo ut libero bibendum sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas viverra egestas felis, non vestibulum nibh hendrerit sit amet.</p>

				<aside class="box right">
					<p>Exemple d'encadré flottant à&nbsp;droite. Lorsque l’on trame un fond, c’est bien souvent pour faire ressortir l’information qu’il contient, or on arrive souvent à l’effet inverse, en augmentant la difficulté de lecture on décourage le lecteur. Un fond tramé ne nécessite pas de filet extérieur (encadrement).</p>
				</aside>

				<p>Mauris lacinia, ante id sodales pretium, eros est gravida sapien, nec auctor dolor massa a dui. Vivamus consequat suscipit elit in imperdiet. In consectetur varius tortor, vel dictum ipsum dignissim vel. Nulla faucibus suscipit ipsum non porttitor. Fusce non ante non mi adipiscing faucibus. Sed odio risus, malesuada eget placerat id, semper eget turpis. Cras ante lorem, pretium ut vestibulum nec, vehicula eget orci.</p>

				<p><q>Les règles de typographie fine, que l’on nomme <i>microtypographie</i> dans le langage professionnel des métiers du livre, sont très souvent négligées sur le Web, faute de connaissance suffisante du code typographique</q> déplorent Marie-Valentine <span class="caps">Blond</span>, Olivier <span class="caps">Marcellin</span> et Melina <span class="caps">Zerbib</span>, dans <cite>Lisibilité des sites web : Des choix typographiques au design d’information</cite>, 2009, p. 279.</p>

				<aside class="box center">
					<p>Exemple d'encadré centré. En typographie, un <dfn>filet</dfn> est un trait de taille et de graisse variables qui accompagne les éléments de texte ou les images pour les mettre en valeur et les différencier ou pour créer des tableaux et des encadrés. Il&nbsp;marque aussi la fin d'un chapitre ou sert simplement d'élément décoratif dans la composition. Le filet sert aussi à composer des cadres ou des tableaux.</p>
				</aside>

				<p>Duis sodales erat et odio imperdiet vitae sodales ligula dapibus. Sed commodo orci a nisi iaculis sit amet mollis ante sagittis. Praesent dapibus ligula eget massa vehicula rhoncus. Vestibulum purus odio, hendrerit nec faucibus vel, commodo eu justo. Sed rhoncus ligula vel velit consectetur pharetra. In pellentesque justo ut libero bibendum sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas viverra egestas felis, non vestibulum nibh hendrerit sit amet.</p>

				<aside class="box">

					<h4>Exemple d'encadré avec contenu riche</h4>
					<img src="http://lorempixel.com/200/150/food" alt="" width="200" height="150" class="thumb round border right">

					<blockquote>
						<p>Si vous utilisez des recettes de cuisine, vous avez probablement fait l'expérience de recevoir la copie d'une recette de la part d'un ami qui la partage avec vous. Et&nbsp;vous avez sans doute fait également l'expérience —&nbsp;à&nbsp;moins d'être un néophyte complet&nbsp;— de changer cette recette. Cette modification, vous la transmettez à d'autres en faisant des copies. Un programme d'ordinateur est comme une recette de cuisine.</p>
						<footer class="src">Richard Stallman, 2001.</footer>
					</blockquote>

					<p>La recette de cuisine est l’exemple pris pour expliquer le <em>logiciel libre</em>. En&nbsp;réalité les recettes sont le plus souvent diffusées de façon privative, <q><abbr title="Copyright">©</abbr>&nbsp;tous droits réservés</q>. Qu’y comprendre ? <a href="http://romy.tetue.net/760" class="external">Les recettes de cuisine sont-elles libres&nbsp;?</a></p>

				</aside>

				<p>Proin sit amet fringilla ipsum. Aenean pretium, nibh ac luctus tristique, odio nisi tincidunt tortor, quis dignissim sem nulla non neque. Morbi laoreet, neque nec ultrices volutpat, arcu odio pharetra tellus, sed bibendum mi dolor eget augue. Cras varius, mi ut eleifend convallis, diam leo molestie est, vitae feugiat ipsum mauris at ante. Vestibulum eu sapien metus. Pellentesque tincidunt sodales nibh eu adipiscing.</p>
			</section>


			<section id="medias">
				<h2>Medias et albums</h2>
				<!-- http://www.alsacreations.com/article/lire/1337-html5-elements-figure-et-figcaption.html -->

				<p>Les éléments <code>&lt;figure&gt;</code> et <code>&lt;figcaption&gt;</code> fonctionnent ensemble pour associer une légende à une image ou autre média. Ces illustrations peuvent être positionnées avec <code>.left</code>, <code>.right</code> et&nbsp;<code>.center</code>.</p>

				<figure class="center">
					<img src="http://pipsum.com/500x300.jpg" alt="" width="500" height="300">
					<figcaption>La légende est un court texte accompagnant une photo ou un dessin et visant à lui donner un&nbsp;sens. Elle&nbsp;peut se placer avant ou après le media principal.</figcaption>
				</figure>

				<p>Paragraphe précédé d'une image centrée. Praesent egestas turpis ut risus lacinia eu cursus urna dapibus. Donec nibh enim, pulvinar vitae ornare ut, ultrices sit amet neque. Quisque ultrices venenatis mi, id fringilla eros malesuada a. Curabitur sagittis mollis arcu, sit amet scelerisque magna varius ac. Vivamus ullamcorper vulputate ipsum, adipiscing varius leo porttitor a. Curabitur luctus gravida nibh, sit amet auctor metus vulputate quis. Aliquam eu nulla risus. Cras in suscipit odio. Etiam ut nisl ut velit ornare pharetra a sed lacus.</p>

				<figure class="left">
					<img src="http://lorempixel.com/200/300/cats" alt="" width="200" height="300">
					<figcaption>Titre de l'image<br><small class="quiet">&copy; copyright</small></figcaption>
				</figure>

				<p>Paragraphe précédé d'une image calée à&nbsp;gauche. Connaissez-vous les <a href="https://webdesignledger.com/if-fonts-were-cats/" class="external" hreflang="en">Font Cats</a>&nbsp;? Prenez un chat, une typo et mariez-les, vous obtenez les Chats-Typographiques, un moyen comme un autre de se souvenir de quelques fontes les plus connues grâce à la photo du chat qui lui correspond.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel lectus eget tortor cursus dapibus sit amet imperdiet lacus. Nullam purus ipsum, aliquet eget imperdiet scelerisque, interdum in felis. Maecenas dolor eros, iaculis et pretium ac, eleifend sit amet lacus. Etiam a lacus eget dui aliquet tempor. Duis dapibus magna dictum enim ultrices ac pharetra lacus convallis. Donec felis ipsum, tristique ornare fermentum quis, fringilla nec arcu. Nunc tortor arcu, fermentum in dictum sit amet, aliquam eu ante. Integer volutpat, erat cursus posuere rutrum, erat tellus varius erat, quis tempus eros risus a lacus.</p>

				<figure class="right">
					<img src="http://lorempixel.com/300/200/abstract" alt="" width="300" height="200">
					<figcaption>En bonne théorie, aucune photo ne devrait<br>paraître sans sa légende.<br><small class="quiet">&copy; copyright</small></figcaption>
				</figure>

				<p>Paragraphe précédé d'une image calée à&nbsp;droite. Duis sodales erat et odio imperdiet vitae sodales ligula dapibus. Sed commodo orci a nisi iaculis sit amet mollis ante sagittis. Praesent dapibus ligula eget massa vehicula rhoncus. Vestibulum purus odio, hendrerit nec faucibus vel, commodo eu justo. Sed rhoncus ligula vel velit consectetur pharetra. In pellentesque justo ut libero bibendum sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas viverra egestas felis, non vestibulum nibh hendrerit sit amet.</p>

				<a id="album"></a>
				<h3>Album</h3>
				<p>Il est possible de regrouper plusieurs images pour constituer un album, avec <code>.album</code>.</p>

				<figure class="album">
					<ul>
						<li><a href=""><img src="http://lorempixel.com/110/110/transport" alt="" width="110" height="110" class="thumb"></a></li>
						<li><a href=""><img src="http://lorempixel.com/110/110/nature" alt="" width="110" height="110" class="thumb"></a></li>
						<li><a href=""><img src="http://lorempixel.com/110/110/animals" alt="" width="110" height="110" class="thumb"></a></li>
						<li><a href=""><img src="http://lorempixel.com/110/110/city" alt="" width="110" height="110" class="thumb"></a></li>
						<li><a href=""><img src="http://lorempixel.com/110/110/technics" alt="" width="110" height="110" class="thumb"></a></li>
						<li><a href=""><img src="http://lorempixel.com/110/110/people" alt="" width="110" height="110" class="thumb"></a></li>
						<li><a href=""><img src="http://lorempixel.com/110/110/food" alt="" width="110" height="110" class="thumb"></a></li>
						<li><a href=""><img src="http://lorempixel.com/110/110/cats" alt="" width="110" height="110" class="thumb"></a></li>
					</ul>
					<figcaption>Mon album de vacances. Je me suis bien amusée&nbsp;!</figcaption>
				</figure>

				<p>Proin sit amet fringilla ipsum. Aenean pretium, nibh ac luctus tristique, odio nisi tincidunt tortor, quis dignissim sem nulla non neque. Morbi laoreet, neque nec ultrices volutpat, arcu odio pharetra tellus, sed bibendum mi dolor eget augue. Cras varius, mi ut eleifend convallis, diam leo molestie est, vitae feugiat ipsum mauris at ante. Vestibulum eu sapien metus. Pellentesque tincidunt sodales nibh eu adipiscing.</p>

				<h3>Effets de style</h3>

				<p>Avec Tiny&nbsp;Typo, les images peuvent recevoir des effets de style, avec <code>.shadow</code> et&nbsp;<code>.border</code> et&nbsp;leurs angles peuvent être arrondis avec <code>.round</code> et <code>.circle</code>.<p>

				<img src="http://pipsum.com/90x90.jpg" alt="" width="90" height="90" class="thumb">
				<img src="http://pipsum.com/90x90.jpg" alt="" width="90" height="90" class="thumb shadow">
				<img src="http://pipsum.com/90x90.jpg" alt="" width="90" height="90" class="thumb border">
				<img src="http://pipsum.com/90x90.jpg" alt="" width="90" height="90" class="thumb border shadow">
				<br>

				<img src="http://pipsum.com/90x90.jpg" alt="" width="90" height="90" class="thumb round">
				<img src="http://pipsum.com/90x90.jpg" alt="" width="90" height="90" class="thumb round shadow">
				<img src="http://pipsum.com/90x90.jpg" alt="" width="90" height="90" class="thumb round border">
				<img src="http://pipsum.com/90x90.jpg" alt="" width="90" height="90" class="thumb round border shadow">
				<br>

				<img src="http://pipsum.com/90x90.jpg" alt="" width="90" height="90" class="thumb circle">
				<img src="http://pipsum.com/90x90.jpg" alt="" width="90" height="90" class="thumb circle shadow">
				<img src="http://pipsum.com/90x90.jpg" alt="" width="90" height="90" class="thumb circle border">
				<img src="http://pipsum.com/90x90.jpg" alt="" width="90" height="90" class="thumb circle border shadow">
				<br>

				<p>Les vignettes sont distinguées par la classe <code>.thumb</code>, par défaut sans effet.</p>
			</section>

			<section id="fonts">
				<h2>Familles de fontes</h2>

				<p>Les pangrammes suivants, qui contiennent toutes les lettres de l'alphabet, ainsi que les caractères accentués, cédille et ligatures, permettent de visualiser le rendu de chaque famille de fontes.</p>

				<div class="font1">
					<h3 class="font1">Fonte&nbsp;1, avec <code>.font1</code>&nbsp;: agh! iIl1 0O</h3>
					<p>Portez ce vieux whisky au juge blond qui fume sur son île intérieure, à côté de l&#8217;alcôve ovoïde, où les bûches se consument dans l&#8217;âtre, ce qui lui permet de penser à la cænogénèse de l&#8217;être dont il est question dans la cause ambiguë entendue à Moÿ, dans un capharnaüm qui, pense-t-il, diminue çà et là la qualité de son œuvre.</p>
				</div>

				<div class="font2">
					<h3 class="font2">Fonte&nbsp;2, avec <code>.font2</code>&nbsp;: agh! iIl1 0O</h3>
					<p>Portez ce vieux whisky au juge blond qui fume sur son île intérieure, à côté de l&#8217;alcôve ovoïde, où les bûches se consument dans l&#8217;âtre, ce qui lui permet de penser à la cænogénèse de l&#8217;être dont il est question dans la cause ambiguë entendue à Moÿ, dans un capharnaüm qui, pense-t-il, diminue çà et là la qualité de son œuvre.</p>
				</div>

				<div class="font3">
					<h3 class="font3">Fonte&nbsp;3, avec <code>.font3</code>&nbsp;: agh! iIl1 0O</h3>
					<p>Portez ce vieux whisky au juge blond qui fume sur son île intérieure, à côté de l&#8217;alcôve ovoïde, où les bûches se consument dans l&#8217;âtre, ce qui lui permet de penser à la cænogénèse de l&#8217;être dont il est question dans la cause ambiguë entendue à Moÿ, dans un capharnaüm qui, pense-t-il, diminue çà et là la qualité de son œuvre.</p>
				</div>

				<div class="font4">
					<h3 class="font4">Fonte&nbsp;4, avec <code>.font4</code>&nbsp;: agh! iIl1 0O</h3>
					<p>Portez ce vieux whisky au juge blond qui fume sur son île intérieure, à côté de l&#8217;alcôve ovoïde, où les bûches se consument dans l&#8217;âtre, ce qui lui permet de penser à la cænogénèse de l&#8217;être dont il est question dans la cause ambiguë entendue à Moÿ, dans un capharnaüm qui, pense-t-il, diminue çà et là la qualité de son œuvre.</p>
				</div>
			</section>

			<p><small>&copy; Tiny Typo v2.5.5 2017 - MIT License - tinytypo.tetue.net</small></p>
		</div>

		<p class="#EDIT{hyperlien} hyperlien"><:voir_en_ligne:> : <a href="http://tinytypo.tetue.net" class="spip_out">tinytypo.tetue.net</a></p>
	</div>
	
	<aside>
		[(#REM) Gestion du portfolio et des documents ]
		[(#INCLURE{fond=inclure/galeries/portfolio})]
		[(#INCLURE{fond=inclure/documents})]

		[(#REM) Forum de l'article
		NB : pour desactiver les forums de l'article, supprimez simplement la ligne ci-dessous ]
		<INCLURE{fond=inclure/forum,id_article,repondre_url=(#PARAMETRES_FORUM|url_reponse_forum),repondre_titre=<:repondre_article:>} />
	</aside>
</article>
