
[(#REM)

	Agenda affiché sous le forme d'un tableau

	Exemple d'insertion : 	
	<INCLURE{fond=inclure/tableau/agenda, env, ajax} />

	Les paramètres :
		- pagination_masquer (defaut non)
		- titre_masquer (defaut non)
		- taleau_classe
		- tableau_entete_masquer (defaut non)
		- nb (defaut 999)
		- paginantion_nb (defaut 999)
		- evenement_titre_balise (defaut strong)
		- evenement_titre_balise_classe
		- archives_masquer

	Note : il est possible d'afficher également un lien en créant un champ extra #LIEN 

][(#REM)

	Par défaut, on affiche les événements à venir par ordre chrono
	et si archives=oui, on affiche les événements passés par ordre inverse chrono

][(#ENV{archives}|!={oui}|?{
	[(#SET{date_debut,#DATE})][(#SET{date_fin,[(#VAL{Y-m-d H:i:s}|date{#VAL{"+2 years"}|strtotime})]})][(#SET{sens_tri,0})]
	,
	[(#SET{date_debut,[(#VAL{Y-m-d H:i:s}|date{#VAL{"-10 years"}|strtotime})]})][(#SET{date_fin,#DATE})][(#SET{sens_tri,-1})]
})]
<div [id="(#ENV{id})"] class="liste long evenements">
	<B_agenda>
	[(#ENV{pagination_masquer}|!={oui}|oui) #ANCRE_PAGINATION ]
	[(#ENV{titre_masquer}|!={oui}|oui) <h2 class="h3"> [(#ENV{archives}|!={oui}|?{ <:zcm:agenda_dates_a_venir:> , <:zcm:agenda_dates_passees:> })] </h2> ]
	<table class="table spip agenda[ (#ENV{taleau_classe})]">
			[(#ENV{tableau_entete_masquer}|!={oui}|oui)
			<thead>
				<tr class="first_row">
					<th class="date" scope="col"><:zcm:agenda_date:></th>
					<th class="titre" scope="col"><:zcm:agenda_evenement:></th>
					<th class="lieu" scope="col"><:zcm:agenda_lieu:></th>
					<th class="adresse" scope="col"><:zcm:agenda_adresse:></th>
                    [(#REM)  Si il y a un champs extra #LIEN 
					<th class="lien" scope="col"> </th> ]
				</tr>
			</thead>]
			<BOUCLE_agenda(EVENEMENTS) {!evenement_passe #GET{date_debut}} 
									{!evenement_a_venir #GET{date_fin}}
									{tri date_debut} {inverse #GET{sens_tri}} 
									{id_article?} {0,#ENV{nb,999}}
									{pagination #ENV{paginantion_nb,20}}>
				<tr class="entry evenement vevent id_#ID_EVENEMENT [(#COMPTEUR_BOUCLE|alterner{row_odd,row_even})]" id="evenement_#ID_EVENEMENT" itemscope itemtype="http://schema.org/Event">
					<td class="date">
						<meta itemprop="startDate" content="[(#DATE_DEBUT|affdate{Y-m-d})]T[(#DATE_DEBUT|affdate{H:i:sO})]">
						<meta itemprop="endDate" content="[(#DATE_FIN|affdate{Y-m-d})]T[(#DATE_FIN|affdate{H:i:sO})]">		
						[(#DATE_DEBUT|agenda_affdate_debut_fin{#DATE_FIN,#HORAIRE*})]
					</td>
					<td class="titre">
						[<[(#ENV{evenement_titre_balise,strong})] class="#EDIT{titre}[ (#ENV{evenement_titre_balise_classe})]" itemprop="name"> (#TITRE) </[(#ENV{evenement_titre_balise,strong})]>]
					</td>
					<td class="lieu">
						[<span class="#EDIT{lieu}" itemprop="location">(#LIEU)</span>]
					</td>
					<td class="adresse">
						[<span class="#EDIT{adresse}">(#ADRESSE|PtoBR)</span>]
					</td>
                    [(#REM) Si il y a un champs extra #LIEN
					<td class="lien">
						[<a itemprop="url" href="(#LIEN)">    
							<svg viewBox="0 0 64 64" width="30" height="30" aria-label="<:zcm:plus_d_infos:>">
								<use xlink:href="#fleche">
							</use>
						</svg></a>]
					</td>]
				</tr>
		</BOUCLE_agenda>
	</table>
	[(#ENV{pagination_masquer}|!={oui}|oui) <nav class="pagination">#PAGINATION</nav> ]
	[(#ENV{evenement}|=={oui}|oui)<p class="boutons centre">
		[<a href="(#INFO_URL{article,5}|parametre_url{evenement,#ID_ARTICLE})" class="bouton"><:zcm:agenda_evenement:></a>]
	</p>]
	</B_agenda>
	[(#REM)
		
		Les boutons : 
			- agenda de l'evenement si evenement + agenda complet
			- archive / à venir si page agenda

	]<p class="boutons centre">
		[(#ENV{archives_masquer}|!={oui}|oui)
			[(#ENV{archives}|!={oui}|?{
				<a href="[(#SELF|parametre_url{archives,oui})]" class="ajax bouton inverse"><:zcm:agenda_dates_passees:></a>
				,
				<a href="[(#SELF|parametre_url{archives,''})]" class="ajax bouton inverse"><:zcm:agenda_dates_a_venir:></a>
			})]
		]
	</p>
</div>