[(#REM)

Affichage d'articles type grille

	Exemple d'insertion : <INCLURE{fond=inclure/divers/articles-swiper, env, ajax,
								id_rubrique, id_article=#EVAL{null}} />

	Les paramètres : 
		- id_rubrique/id_article/branche (int) : pour restreindre aux articles d'une rubrique
		- balise_titre_liste : balise du titre de la liste (défaut h2)
		- titre : titre de la liste (défaut '')
		- tri : critère de classement (défaut num titre)
		- sens_tri : sens du classement (défaut 0 / inverse -1)
		- nb : nombre d'item à afficher dans la liste (défaut 999999)
		- pagination : nombre pour la pagination (défaut 9)
		- classe_figure : classe de la balise figure (defaut '') / Utiliser spip_documents rond illustration pour avoir un rond
		- masquer_date_article : afficher la date de l'article (defaut non)
		- balise_titre_article : balise du titre des vignettes (dafaut h3)
		- couper_titre_article : nb de caractères du titre (defaut 60)
		- masquer_soustitre_article : afficher le soustitre de l'article (dafaut non)
		- couper_soustitre_article : nb de caractères du soustitre (defaut 80)
		- masquer_intro_article : afficher l'intro de l'article (dafaut non)
		- couper_intro_article : nb de caractères de l'intro (defaut 250)
		- masquer_pagination : oui/non (défaut non)
		- modele_pagination (défaut page_precedent_suivant)
		- label_precedent/label_suivant : texte liens de pagination
		- message_aucun : texte si pas de réponse
	
	Autres paramètres : voir inclure/vignettes/article
	

][(#SET{balise_titre,#ENV{balise_titre,h2}})
][(#SET{tri,#ENV{tri,num titre}})
][(#SET{sens_tri,#ENV{sens_tri,0}})
][(#SET{nb,#ENV{nb,999999}})
][(#SET{pagination,#ENV{pagination,9}})
][(#SET{balise_titre_article,#ENV{balise_titre_article,h3}})
][(#SET{couper_titre_article,#ENV{couper_titre_article,60}})
][(#SET{couper_soustitre_article,#ENV{couper_soustitre_article,80}})
][(#SET{couper_intro_article,#ENV{couper_intro_article,250}})
][(#SET{message_aucun, [(#ENV{message_aucun}|is_null|?{<:info_aucun_article:>, #ENV{message_aucun}})]})]
<B_articles>
<div [id="(#ENV{id})"] class="liste swiper swiper-container articles">
	[(#ENV{masquer_pagination}|!={oui}|oui) #ANCRE_PAGINATION ]
	[<[(#GET{balise_titre})]>(#ENV{titre})</#GET{balise_titre}>]
	<ul class="liste-items swiper-wrapper">
		<BOUCLE_articles(ARTICLES)
			{id_rubrique?}
			{id_parent?}
			{recherche?}
			{id_mot?}
			{tri #GET{tri}}
			{inverse #GET{sens_tri}}
			{par titre}
			{0,#GET{nb}}
			{pagination #GET{pagination}}
		>
		<li class="item swiper-slide" itemscope itemtype="http://schema.org/Article"><a href="#URL_ARTICLE" itemprop="url">
			<figure[ class="(#ENV{classe_figure})"]>
				<INCLURE{fond=inclure/vignettes/article,
									id_article,
									id_rubrique,
									microdatas=oui,
									largeur_image,
									hauteur_image,
									classe_vignette} />
				<figcaption>
					[(#ENV{masquer_date_article}|!={non}|oui)<p class="date-article">[<time datetime="[(#DATE|date_iso)]">(#DATE|affdate_jourcourt)</time>]</p>]
					[<[(#GET{balise_titre_article})] itemprop="name">(#TITRE|couper{#GET{couper_titre_article}})</#GET{balise_titre_article}>]
					[(#ENV{masquer_soustitre_article}|!={non}|oui) [<div class="soustitre entry-content">(#SOUSTITRE|couper{#GET{couper_soustitre_article}})</div>] ]
					[(#ENV{masquer_intro_article}|!={non}|oui) [<div class="introduction entry-content">(#INTRODUCTION{#GET{couper_intro_article}})</div>] ]
				</figcaption>
				</figure>
		</a></li>
		</BOUCLE_articles>
	</ul>
	[(#ENV{masquer_pagination}|!={oui}|oui)
	[<nav class="pagination">
		(#PAGINATION{
			#ENV{modele_pagination,page_precedent_suivant},
			label_precedent=#ENV{label_precedent},
			label_suivant=#ENV{label_suivant}
		})
	</nav>]
	]
</div>
</B_articles>
[<p class="aucun-resultat">(#GET{message_aucun})</p>]
<//B_articles>