[(#REM)
    
    Insertion de boutons

	Ajouter ui.css : 
        /* *** LES BOUTONS *** */
        .boutons { margin: 0; }
        .boutons.centrer { text-align: center; }
        a.bouton { display: inline-block; padding: 0.25em 1.5em; text-transform: uppercase; font-weight: 500; text-decoration: none;
            color: var(--coul-fond); background: var(--coul-texte); border: 1px solid var(--coul-texte);
            transition: background-color var(--duree-transition), color var(--duree-transition), border-color var(--duree-transition);}
        a.bouton:hover, a.bouton:active , a.bouton:focus { background: var(--coul-emphase); border-color: var(--coul-emphase); text-decoration: none;}
        a.bouton.inverse { color: var(--coul-texte); background: var(--coul-fond) ;}
        a.bouton.inverse:hover, a.bouton.inverse:active , a.bouton.inverse:focus { color: var(--coul-emphase); border-color: var(--coul-emphase); }


]<nav>
    <ul class="menu-items boutons centrer">
        <li class="item"><a href="#URL_ARTICLE" class="bouton">bouton</a></li>
        <li class="item"><a href="#URL_ARTICLE" class="bouton inverse">inverse</a></li>
    </ul>   
</nav>