.pleine-largeur { 
    /* https://seenthis.net/messages/1019596 */
    width: 100vw; margin-left: 50%; transform: translate3d(-50%, 0, 0);
}

/* mosaique_simple */
ul.mosaique-simple { display:flex; }
ul.mosaique-simple li { position:relative; width:50%; }
ul.mosaique-simple li figure { margin-bottom:0; }

/* mosaique variable*/ 
.mosaique-variable { display:flex; align-items:stretch; }
.mosaique-variable ul { display:flex; flex-direction:column; width:50%; }
.mosaique-variable ul li { margin:0; position:relative; }
.mosaique-variable ul li figure { margin:0; }

/* vignette ronde*/
figure.spip_documents.rond.illustration { position:absolute; margin-bottom:0; width:300px; max-width:60%; top:50%; left:50%; transform:translate(-50%,-50%); }
