<B_filtres>
<div class="filtres">
    <ul class="menu-items">
        <li class="item[(#ENV{id_mot}=={''}|oui)on]"><a href="[(#SELF|parametre_url{id_mot,''})]" class="ajax">Tout</a></li>
        <BOUCLE_filtres(MOTS) {id_groupe=1} {par num titre}>
        <li class="item[ (#EXPOSE)]"><a href="[(#SELF|parametre_url{id_mot,#ID_MOT})]" class="ajax">#TITRE</a></li>
        </BOUCLE_filtres>
    </ul>
</div>
</B_filtres>
    