<BOUCLE_alaune(SELECTIONS) {identifiant=alaune}>
    <B_alaune_contenus>
    <section id="alaune">
        <div class="container">
			<header>
				<h2>#TITRE</h2>
			</header>
            <div class="liste selections">
                <ul class="liste-items">
                    <BOUCLE_alaune_contenus(SELECTIONS_CONTENUS)
                        {id_selection}
                        {par rang}>
                    <li class="item"><article>
                        [<a href="(#URL)">]
                            <header>
                                <h3>#TITRE</h3>
                                #DESCRIPTIF
                            </header>
                            [<div class="vignette">
                                (#LOGO_SELECTIONS_CONTENU|sinon{#INFO_FICHIER{document,#CONFIG{metasplus/id_doc_logo}}}
                                        |image_recadre{400:280, -, focus}
                                        |adaptive_images{400})</div>]
                        [(#URL|!={''}|oui)</a>]
                    </article></li>
                    </BOUCLE_alaune_contenus>
                </ul>
            </div>
        </div>
    </section>
    </B_alaune_contenus>
</BOUCLE_alaune>
