[<a href="#URL_SITE_SPIP" class="nom-site" rel="start home">(#NOM_SITE_SPIP)</a>]

[(#PLUGIN{identite_extra}|oui)
	#MODELE{identite_extra}
]<div>
	<ul class="menu-items">
		<li class="item"><a href="#URL_SITE_SPIP/"><:public:accueil_site:></a></li>
		<BOUCLE_menu_pied(ARTICLES){id_article IN 1,2}><li class="item"><a href="#URL_ARTICLE">#TITRE</a></li></BOUCLE_menu_pied>
		<li class="item"><a rel="contents" href="#URL_PAGE{plan}"><:plan_site:></a></li>
	</ul>
	<ul class="menu-items">
		<?php
		if (isset($GLOBALS['visiteur_session']['id_auteur']) AND $GLOBALS['visiteur_session']['id_auteur']) {
		?><li class="item"><a href="#URL_LOGOUT" rel="nofollow"><:icone_deconnecter:></a></li><?php
			if (include_spip('inc/autoriser') AND autoriser('ecrire')){
			?> 
		<li class="item"><a href="#EVAL{_DIR_RESTREINT_ABS}"><:espace_prive:></a></li> <?php
			}
		}
		else {
		?><li class="item"><a href="[(#URL_PAGE{login}|parametre_url{url,#SELF|parametre_url{url,''}})]" rel="nofollow" class='login_modal'><:lien_connecter:></a></li> <?php
		}
		?><li class="item"><a href="https://www.spip.net/"><:zcm:fait_avec_spip:></a></li>
	</ul>
</div>