<div class="menu">
	<ul class="menu-items">
		<li class="item"><a href="#menuprincipal"><:zcm:accesrapide_menu:></a></li>
		<li class="item"><a href="#main"><:zcm:accesrapide_contenu:></a></li>
		<li class="item"><a href="#URL_PAGE{recherche}"><:info_rechercher:></a></li>
		<li class="item"><a href="#URL_PAGE{plan}"><:plan_site:></a></li>
	</ul>
</div>