[(#REM)

Menu de navigation horizontal entre les articles d'une rubrique 

	Exemple d'insertion : <INCLURE{fond=inclure/menus/articles,
									id_rubrique,
									id_article} />

	Les paramètres : 
		- id_rubrique
		- class-ul
		- id_article

]
<B_articles>
<nav[ id="(#ENV{id_menu})"] class="menu menu-articles">
	<ul class="#ENV{class-ul,menu-items}">
		<BOUCLE_articles(ARTICLES) {id_rubrique} {par num titre}>[(#TOTAL_BOUCLE|>{1}|oui)
			<li class="item[ (#EXPOSE)]">
				<a href="#URL_ARTICLE">[(#TITRE|couper{80})]</a>
			</li>
		]</BOUCLE_articles>
	</ul>
</nav>
</B_articles>