<nav id="navprincipale" aria-label="<:zcm:arialabel_navprincipale|attribut_html:>">
	<button class="burger" aria-expanded="false" aria-controls="menuprincipal" aria-labelledby="navprincipale-label">
		<span id="navprincipale-label" class="invisible">Menu</span>
		<svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true" focusable="false">
			<path d="M4 6L20 6" />
			<path d="M4 12L20 12" />
			<path d="M4 18L20 18" />
		</svg>
	</button>
	<B_rubriques>
	<ul id="menuprincipal" class="liste-items">
		<li class="item[ (#SI_PAGE{sommaire})on]">
			<a href="#URL_SITE_SPIP/"><:public:accueil_site:></a>
		</li>
		<BOUCLE_rubriques(RUBRIQUES) {racine} {par num titre}>
		<li class="item[ (#EXPOSE)]">
			<a href="#URL_RUBRIQUE">[(#TITRE|couper{80})]</a>
		</li>
		</BOUCLE_rubriques>
	</ul>
	</B_rubriques>
</nav>
