[(#REM)

		Menu de navigation horizontale entre les rubriques soeurs

		Exemple d'insertion : <INCLURE{fond=inclure/menus/rubriques, id_parent} />

		Les paramètres :
			- id_menu
			- class-ul
			- id_parent : la rubrique parente dont on veux lister les enfants (\#ID_PARENT pour lister les rubriques soeurs)
			- tri : critère de classement (défaut num titre)
			- sens_tri : sens du classement (défaut 0 / inverse -1)

]<B_rubriques>
<nav[ id="(#ENV{id_menu})"] class="menu menu-rubriques">
	<ul class="#ENV{class-ul,menu-items}">
		<BOUCLE_rubriques(RUBRIQUES)
				{id_parent}
				{tri #ENV{tri,num titre}}
				{inverse #ENV{sens_tri,0}}>
		<li class="item">
			<a href="#URL_RUBRIQUE" class="ui bouton">#TITRE</a>
		</li>
		</BOUCLE_rubriques>
	</ul>
</nav>
</B_rubriques>