[(#REM)

	Plan des rubriques et des articles d'un secteur

	Paramètres :
	** obligatoire
	* conseillé

	- **id_rubrique
	- id_menu
	- class-ul
	- titre : titre personnalisé

]
<BOUCLE_rubrique_principale(RUBRIQUES){id_rubrique}>
<nav[ id="(#ENV{id_menu})"] class="menu menu-secteur">
	<h2>#ENV{titre,#INFO_TITRE{rubrique,#ID_SECTEUR}}</h2>
	<ul class="#ENV{class-ul,menu-items}">
		<BOUCLE_rubriques(RUBRIQUES){id_parent=#ID_SECTEUR}{par num titre}>
		<li class="item[ (#EXPOSE)]">
			<a href="#URL_RUBRIQUE">#TITRE</a>
			<B_sous_rubriques>
			<ul class="#ENV{class-ul,menu-items}">
				<BOUCLE_sous_rubriques(RUBRIQUES){id_parent}{si #EXPOSE}{par num titre}>
				<li class="item[ (#EXPOSE)]">
					<a href="#URL_RUBRIQUE">#TITRE</a>
				</li>
				</BOUCLE_sous_rubriques>
			</ul>
			</B_sous_rubriques>
			<B_sous_articles>
			<ul class="#ENV{class-ul,menu-items}">
				<BOUCLE_sous_articles(ARTICLES){id_rubrique}{si #EXPOSE}{par num titre}>
				<li class="item[ (#EXPOSE)]">
					<a href="#URL_ARTICLE">#TITRE</a>
				</li>
				</BOUCLE_sous_articles>
			</ul>
			</B_sous_articles>
		</li>
		</BOUCLE_rubriques>
		<BOUCLE_articles(ARTICLES){id_rubrique=#ID_SECTEUR}{par num titre}>
		<li class="item[ (#EXPOSE)]">
			<a href="#URL_ARTICLE">#TITRE</a>
		</li>
		</BOUCLE_articles>
	</ul>
</nav>
</BOUCLE_rubrique_principale>
