<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem"><:zcm:cfg_titre_parametrages:></h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE

		<fieldset>
			<legend><:public:accueil_site:></legend>
			<div class="editer-groupe">
				[(#SAISIE{selecteur_document,image_entete_accueil,
					label=<:zcm:image_entete_accueil:>,
					explication=<:zcm:image_entete_accueil_explication:>})]
				[(#SAISIE{selecteur_document,image_agenda_accueil,
					label=<:zcm:image_agenda_accueil:>,
					explication=<:zcm:image_agenda_accueil_explication:>})]
				[(#SAISIE{radio,mode_accueil,
					label=<:zcm:mode_accueil:>,
					explication=<:zcm:mode_accueil_explications:>,
					data=#ARRAY{
						site,<:zcm:mode_accueil_site:>,
						blog,<:zcm:mode_accueil_blog:>},
					defaut=site})]
				</div>
		</fieldset>

		<fieldset>
			<legend><:zcm:contenu:></legend>
			<div class="editer-groupe">
				[(#SAISIE{selecteur_article,article_pied,
					label=<:zcm:article_pied:>,
					explication=<:zcm:article_pied_explication:>})]
			</div>
		</fieldset>

		<input type="hidden" name="_meta_casier" value="zcm" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>
