[(#REM)

Affichage d'un diaporama avec Swiper

	Exemple d'insertion : 
		<INCLURE{fond=inclure/galeries/diaporama, id_article, id_rubrique=#EVAL{NULL}} />

	Ajouter dans perso.js : 
		var diaporama = new Swiper('#diaporama .swiper-container', {
			loop: true,
			slidesPerView: 1,
			autoplay: {
				delay: 4000,
			},
			navigation: {
				nextEl: '#diaporama .swiper-button-next',
				prevEl: '#diaporama .swiper-button-prev',
			},
		});
	
	Paramètres :
		- diaporama_container : id du container du diaporama pour le cibler depuis le js (defaut diaporama)
		- largeur_image : en px (defaut 1000)
		- hauteur_image : en px (defaut 350)
		- masquer_boutons : masquer les boutons précédents/suivants (défaut non)
		- masquer_pagination : masquer la pagination (défaut non)
		- masquer_scrollbar : masquer la scrollbar (défaut oui)
		- nb : le nombre d'images dans le diaporama (défaut 5)

	Doc : https://swiperjs.com/swiper-api
	Démo : https://swiperjs.com/demos

		
][(#SET{largeur_image,#ENV{largeur_image,1000}})][
(#SET{hauteur_image,#ENV{hauteur_image,350}})]
<B_diaporama>
<div [id="(#ENV{diaporama_container,diaporama})"] class="diaporama galerie">
	<div class="swiper-container">
		<ul class="liste-items swiper-wrapper">
		<BOUCLE_diaporama(DOCUMENTS)
			{id_rubrique?} {id_article?} {id_evenement?}
			{par rang_lien, num titre}
			{extension==jpg|png|gif}
			{0,#ENV{nb,5}} {vu=non}>
			[<li class="item swiper-slide"><figure>
				(#FICHIER|image_recadre{#GET{largeur_image}:#GET{hauteur_image}, -, focus}
						 |inserer_attribut{alt, #TITRE|attribut_html}
						 |adaptive_images{#GET{largeur_image}})
				[(#TITRE|ou{#CREDITS}|oui)<figcaption>[
					<div class="legende">(#TITRE)</div>][
					<div class="credits">(#CREDITS)</div>]
				</figcaption>]
			</figure></li>]
		</BOUCLE_diaporama>
		</ul>
		[(#ENV{masquer_boutons}|=={oui}|non) 	
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>]
		[(#ENV{masquer_scrollbar}|=={oui}|non)	<div class="swiper-scrollbar"></div>]
		[(#ENV{masquer_pagination}|=={oui}|non) <div class="swiper-pagination"></div>]
	</div>
</div>
</B_diaporama>