[(#REM)

Affichage d'un focus

	Exemple d'insertion : <INCLURE{fond=inclure/galeries/focus,id_selection=2} />
	
	Paramètres :
		- id : l'id du bloc qui affiche le diaporama (defaut diapoaccueil)
		- titre : le titre du bloc qui affiche le diaporama
		- largeur_image : en px (defaut 1000)
		- hauteur_image : en px (defaut 350)
		- balise_titre_figcaption : hx (defaut h3)
	
][(#SET{id_bloc,#ENV{id_bloc,diapoaccueil}})][
(#SET{balise_titre_figcaption,#ENV{balise_titre_figcaption,h3}})][
(#SET{largeur_image,#ENV{largeur_image,1500}})][
(#SET{hauteur_image,#ENV{hauteur_image,350}})]
<b_diaporama>
<section id="diapoaccueil" class="diaporama focus">
	[<header>
		<h2>(#ENV{titre})</h2>
	</header>]
	<BOUCLE_diaporama(SELECTIONS) {identifiant=diapoaccueil}>
		<div class="swiper-container">
			<B_diaporama_contenus>
			<div class="swiper-pagination"></div>
			<ul class="diaporama galerie swiper-wrapper selection[ (#CHAMP_SQL{css}|attribut_html)]">
				<BOUCLE_diaporama_contenus(SELECTIONS_CONTENUS)
					{id_selection}
					{par rang}>
				[<li class="swiper-slide">[<a href="(#URL)">]
					<figure>
						(#LOGO_SELECTIONS_CONTENU|image_recadre{#GET{largeur_image}:#GET{hauteur_image}, -, focus}
												 |adaptive_images{#GET{largeur_image}})
						[<figcaption>
							<#GET{balise_titre_figcaption}>(#TITRE)</#GET{balise_titre_figcaption}>
							[<div class="descriptif">(#DESCRIPTIF)</div>]
							<div class="bouton"><:zcore:lire_la_suite:></div>
						</figcaption>]
					</figure>
				[(#URL|oui)</a>]</li>]
				</BOUCLE_diaporama_contenus>
			</ul>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
			</B_diaporama_contenus>
		</div>
	</BOUCLE_diaporama>
</section>
</b_diaporama>