[(#REM)

Affichage d'une mosaique simple

	Exemple d'insertion : <INCLURE{fond=inclure/galeries/diaporama,id_article} />
	
	Paramètres :
	- largeur_image : en px (defaut 500)
	- hauteur_image : en px (defaut 500)
	- position_rond : affiche une des images sous forme de rond (focntionne avec le plugin Insertion d'image avancée)
	
][(#SET{largeur_image,#ENV{largeur_image,500}})][
(#SET{hauteur_image,#ENV{hauteur_image,500}})]
<B_portfolio>
<ul class="liste-items mosaique-simple galerie">
<BOUCLE_portfolio(DOCUMENTS)
	{id_article?}
	{id_rubrique?}
	{id_evenement?}
	{tous}
	{par rang_lien, num titre, date}
	{0,2} {vu=non}
	{extension==jpg|png|gif}>
	<li class="item">
		[(#COMPTEUR_BOUCLE|=={#ENV{position_rond}}|?{
			[<figure class="spip_documents rond illustration">(#FICHIER|image_recadre{#GET{largeur_image}:#GET{largeur_image}, -, focus}|adaptive_images{#GET{largeur_image}})</figure>]
		,
			[<figure>
				(#FICHIER|image_recadre{#GET{largeur_image}:#GET{hauteur_image}, -, focus}|adaptive_images{#GET{largeur_image}})
				[(#TITRE|ou{#CREDITS}|oui)<figcaption>
					[<div class="legende"><span class="texte">(#TITRE)</span><span class="info">i</span></div>]
					[<div class="credits">(#CREDITS)</div>]
				</figcaption>]
			</figure>]
		})]
	</li>
</BOUCLE_portfolio>
</ul>
</B_portfolio>