[(#REM)

Affichage d'une mosaique variable

	Exemple d'insertion : <INCLURE{fond=inclure/galeries/mosaique-variable, id_article} />

	Ajouter dans la CSS : 
		/* MOSAIQUE VARIABLE */
		.mosaique-variable { background: var(--coul-emphase); margin-bottom: 1.5em;}
		.mosaique-variable li { position:relative; border: 1px solid var(--coul-emphase); }
		.mosaique-variable .rond { overflow: hidden; }
		.mosaique-variable figure { margin: 0; }
		.mosaique-variable .rond figure { margin: var(--marge) auto; border-radius: 50%; overflow: hidden; width: 350px; max-width: 90%; }
		.mosaique-variable figcaption { position: absolute ; bottom: 0.2rem; right: 0.2rem; font-size: 0.875rem;
			color: #9a9a9a; text-align: right; text-shadow: 0 0 10px #000;}
		.mosaique-variable .rond figcaption { bottom: 0.2rem; right: 50%; transform: translateX(50%); text-align: center; }

		@media screen and (min-width:500px){ 
			.mosaique-variable { display:flex; align-items:stretch; }
			.mosaique-variable ul { display:flex; flex-direction:column; width:50%; }
			.mosaique-variable li { margin:0; }
			.mosaique-variable figure { margin:0; }
			.mosaique-variable .rond figure { margin: var(--marge) auto; }
			.mosaique-variable .rond { height: 60%; }
			.mosaique-variable .rond figure { position: absolute; left: 50%; top: 50%; margin: 0; transform: translate(-50%,-50%); }
			figure figcaption .legende { bottom:0.5em; right:1rem; }	
		}
	
][(#SET{fichier,#ARRAY})][
(#SET{legende,#ARRAY})][
(#SET{credits,#ARRAY})
]<BOUCLE_docunments(DOCUMENTS)
	{id_article?}
	{id_rubrique?}
	{id_evenement?}
	{par rang_lien, num titre, date}
	{0,4} {vu=non}
	{extension==jpg|png|gif}>
	[(#SET{fichier, #GET{fichier}|push{#FICHIER}})][
	(#SET{legende, #GET{legende}|push{#TITRE}})][
	(#SET{credits, #GET{credits}|push{#CREDITS}})]
</BOUCLE_docunments>
<div class="mosaique-variable galerie">
	<ul class="liste-items">
		<li class="item rond">
			[<figure>
				(#GET{fichier}|table_valeur{0}|image_recadre{1:1, -, focus}|adaptive_images{350}|inserer_attribut{alt, ''})
				[(#GET{legende}|table_valeur{0}|ou{#GET{credits}|table_valeur{3}}|oui)<figcaption>
					[<div class="legende"><span class="texte">(#GET{legende}|table_valeur{0})</span></div>]
					[<div class="credits">(#GET{credits}|table_valeur{0})</div>]
				</figcaption>]
			</figure>]
		</li>
		<li class="item">
			[<figure>
				(#GET{fichier}|table_valeur{2}|image_recadre{500:250, -, focus}|adaptive_images{600}|inserer_attribut{alt, ''})
				[(#GET{legende}|table_valeur{2}|ou{#GET{credits}|table_valeur{2}}|oui)<figcaption>
					[<div class="legende"><span class="texte">(#GET{legende}|table_valeur{2})</span></div>]
					[<div class="credits">(#GET{credits}|table_valeur{2})</div>]
				</figcaption>]
			</figure>]
		</li>
	</ul>
	<ul class="liste-items">
		<li class="item">
			[<figure>
				(#GET{fichier}|table_valeur{1}|image_recadre{500:250, -, focus}|adaptive_images{600}|inserer_attribut{alt, ''})
				[(#GET{legende}|table_valeur{1}|ou{#GET{credits}|table_valeur{1}}|oui)<figcaption>
					[<div class="legende"><span class="texte">(#GET{legende}|table_valeur{1})</span></div>]
					[<div class="credits">(#GET{credits}|table_valeur{1})</div>]
				</figcaption>]
			</figure>]
		</li>
		<li class="item">
			[<figure>
				(#GET{fichier}|table_valeur{3}|image_recadre{500:350, -, focus}|adaptive_images{600}|inserer_attribut{alt, ''})
				[(#GET{legende}|table_valeur{3}|ou{#GET{credits}|table_valeur{0}}|oui)<figcaption>
					[<div class="legende"><span class="texte">(#GET{legende}|table_valeur{3})</span></div>]
					[<div class="credits">(#GET{credits}|table_valeur{3})</div>]
				</figcaption>]
			</figure>]
		</li>
	</ul>
</div>
</B_docunments>