[(#REM)

	Portfolio d'images

		Exemple d'insertion : <INCLURE{fond=inclure/galeries/portfolio,
												id_article} />
		
		Par défaut, les miniatures ont toutes la même hauteur.

		Paramètres :
			- titre : titre personnalisé (défaut '')
			- largeur_image : largeur des miniatures (défaut 200)
			- hauteur_image : largeur des miniatures (défaut 120)
			- ratio : ratio de recadrage de l'image (défaut 1:1 / carré)
			- vignette_afficher_infos : afficher le crédit sous la vignette (défaut non)
			- vignette_afficher_credit : afficher le crédit sous la vignette (défaut oui)
			- vignette_afficher_descriptif : afficher le descriptif sous la vignette (défaut non)

			- id_article (int) : pour restreindre aux images d'un article
			- id_rubrique (int) : pour restreindre aux images d'une rubrique
			- objet (string) : pour restreindre aux images d'un type d'objet
			- id_objet (int) : pour restreindre aux images à un numéro d'objet
		
		Note : pour ne pas avoir, dans un article, les images liées à la rubrique ajouter id_rubrique=#EVAL{null}

][(#SET{largeur_image,#ENV{largeur_image,200}})][
(#SET{hauteur_image,#ENV{hauteur_image,120}})][
(#SET{ratio,#ENV{ratio,1:1}})][
(#SET{vignette_afficher_credit,#ENV{vignette_afficher_credit,oui}})]
<B_documents_portfolio>
<div class="liste images documents_portfolio">
	[<h2 class="h2">(#ENV{titre})</h2>]
	<ul class="liste-items galerie portfolio">
		<BOUCLE_documents_portfolio(DOCUMENTS)
			{id_article?}
			{id_rubrique?}
			{id_evenement?}
			{objet?}
			{id_objet?}
			{extension IN png,jpg,gif}
			{par rang_lien, num titre, date}
			{vu=non}
			{doublons documents}
		>[
		<li class="item"><a href="(#URL_DOCUMENT)"
			type="#MIME_TYPE"
			rel="documents_portfolio[-a(#ID_ARTICLE)][-r(#ID_RUBRIQUE)]"
			title="[(#TITRE|attribut_html|couper{60})][- (#CREDITS|attribut_html|couper{40})] "
			><figure>[(#FICHIER|image_recadre{#GET{largeur_image}:#GET{hauteur_image}, -, focus}
					   |adaptive_images{#GET{largeur_image}}
					   |inserer_attribut{alt,[(#TITRE|attribut_html|couper{80})]})]
					   [(#ENV{vignette_afficher_infos}|=={oui}|oui) 
					   <figcaption>
						[<div class="titre">(#TITRE)</div>][
						(#ENV{vignette_afficher_descriptif}|=={oui}|oui) [<div class="descriptif">(#DESCRIPTIF)</div>] ][
						(#GET{vignette_afficher_credit}|=={oui}|oui) [<div class="credits">(#CREDITS)</div>] ]
					   </figcaption>]
			</figure></a>
		</li>
		]</BOUCLE_documents_portfolio>
	</ul>
</div>
</B_documents_portfolio>