[(#REM) Articles trouves ]
<B_articles>
<div class="liste resultats articles">
	#ANCRE_PAGINATION
	<h2 class="h2">[(#ENV{titre}|sinon{<:articles:>}) ](#GRAND_TOTAL)</h2>
	<ul class="liste-items">
		<BOUCLE_articles(ARTICLES)
			{recherche}
			{id_secteur?}
			{id_rubrique?}
			{par points}
			{inverse}
			{pagination #ENV{pagination,5}}>
		<li class="item clearfix"><a href="#URL_ARTICLE">
			<INCLURE{fond=inclure/vignettes/article,
								id_article,
								id_rubrique,
								largeur_image,
								hauteur_image,
								classe_vignette,
								texte_lirelasuite} />
			<div class="resume">
				<h3>#TITRE</h3>
				#INTRODUCTION{155}
			</div>
		</a></li>
		</BOUCLE_articles>
	</ul>
	[<nav class="pagination">(#PAGINATION)</nav>]
</div>
</B_articles>
