[(#REM) Rubriques trouvees ]
<B_rubriques>
<div class="liste resultats rubriques">
	#ANCRE_PAGINATION
	<h2 class="h2">[(#ENV{titre}|sinon{<:rubriques:>}) ](#GRAND_TOTAL)</h2>
	<ul class="liste-items">
		<BOUCLE_rubriques(RUBRIQUES) {recherche}{id_secteur ?} {par points}{inverse} {pagination #ENV{pagination,5}}>
		<li class="item clearfix"><a href="#URL_RUBRIQUE">
			<INCLURE{fond=inclure/vignettes/rubrique,id_rubrique,
							largeur_image,
							hauteur_image,
							classe_vignette} />
			<div class="resume">
				<h3>#TITRE</h3>
				#INTRODUCTION{155}
			</div>
		</a></li>
		</BOUCLE_rubriques>
	</ul>
	[<nav class="pagination">(#PAGINATION)</nav>]
</div>
</B_rubriques>
