<BOUCLE_evenement_head(EVENEMENTS) {id_evenement}>
<title>[(#TITRE|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
[<meta name="description" content="(#DESCRIPTIF|couper{150}|attribut_html)" />]
[<link rel="canonical" href="(#URL_EVENEMENT|url_absolue)" />]
</BOUCLE_evenement_head>