<BOUCLE_principale(FORMULAIRES){id_formulaire=#ID_FORMULAIRE}>
<title>[(#TITRE|textebrut)][ - (#NOM_SITE_SPIP|textebrut)]</title>
[<link rel="canonical" href="(#URL_FORMULAIRE|url_absolue)" />]
</BOUCLE_principale>