[(#REM)

    Squelette pour inclure les images svg

        Inclure juste avant la balise body fermante : <INCLURE{fond=inclure/svg} />

        Ajouter dans le squelette à l'endroit souhaité

        <svg viewBox="0 0 142 32" width="284" height="64" role="img" aria-hidden="true" focusable="false">
            <use xlink:href="#logo">
            </use>
        </svg>

        Accessibilité : si les SVG sont uniquement illustratifs, ajouter :
        <svg .... role="img" aria-hidden="true" focusable="false">
    

]<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="display:none;">
    [(#REM)
        
        UI

    ]<symbol id="logo" viewBox="0 0 458 212">
        <path d="....."/>
    </symbol>
    [(#REM)
        
        Réseaux sociaux
    
    <symbol id="sociaux_fb" viewBox="0 0 500 500">
        <path d="M500 250C500 111.929 388.071 0 250 0S0 111.929 0 250c0 117.245 80.715 215.622 189.606 242.638V326.396h-51.552V250h51.552v-32.919c0-85.092 38.508-124.532 122.048-124.532 15.838 0 43.167 3.105 54.347 6.211v69.254c-5.901-.621-16.149-.932-28.882-.932-40.993 0-56.832 15.528-56.832 55.9V250h81.659l-14.028 76.396h-67.631v171.773C404.073 483.218 500 377.818 500 250"/>
    </symbol>
    <symbol id="sociaux_ig" viewBox="0 0 500 500">
        <path d="M359.196 2.803H137.833C62.66 2.803 1.501 63.965 1.501 139.138v221.363c0 75.176 61.159 136.335 136.332 136.335h221.363c75.179 0 136.338-61.162 136.338-136.335V139.138c.003-75.173-61.159-136.335-136.338-136.335Zm92.508 357.698c0 51.007-41.499 92.502-92.506 92.502H137.833c-51.004.003-92.499-41.495-92.499-92.502V139.138c0-51.004 41.495-92.502 92.499-92.502h221.363c51.007 0 92.505 41.498 92.505 92.502v221.363h.003Z" style="fill-rule:nonzero"/><path d="M248.517 122.525c-70.194 0-127.299 57.106-127.299 127.3 0 70.191 57.105 127.294 127.299 127.294 70.194 0 127.3-57.103 127.3-127.294 0-70.194-57.106-127.3-127.3-127.3Zm0 210.758c-46.021 0-83.466-37.439-83.466-83.461 0-46.024 37.442-83.466 83.466-83.466 46.025 0 83.467 37.442 83.467 83.466 0 46.022-37.445 83.461-83.467 83.461ZM381.156 85.358c-8.445 0-16.741 3.419-22.706 9.41-5.993 5.961-9.438 14.26-9.438 22.734 0 8.448 3.448 16.744 9.438 22.735 5.962 5.961 14.261 9.409 22.706 9.409 8.474 0 16.744-3.448 22.735-9.409 5.99-5.991 9.409-14.29 9.409-22.735 0-8.474-3.419-16.773-9.409-22.734-5.962-5.991-14.261-9.41-22.735-9.41Z"/>
    </symbol>
    <symbol id="sociaux_tw" viewBox="0 0 64 64">
        <path d="M64 13.194a23.1 23.1 0 01-7.3 2.1 14.119 14.119 0 005.5-7.2c-1.9 1.2-6.1 2.9-8.2 2.9a13.782 13.782 0 00-9.6-4 13.187 13.187 0 00-13.2 13.2 13.576 13.576 0 00.3 2.9c-9.9-.3-21.5-5.2-28-13.7a13.206 13.206 0 004 17.4c-1.5.2-4.4-.1-5.7-1.4-.1 4.6 2.1 10.7 10.2 12.9-1.6.8-4.3.6-5.5.4.4 3.9 5.9 9 11.8 9-2.1 2.4-9.3 6.9-18.3 5.5a39.825 39.825 0 0020.7 5.8 36.8 36.8 0 0037-38.6v-.5a22.861 22.861 0 006.3-6.7z" />
    </symbol>
    <symbol id="sociaux_vi" viewBox="0 0 64 64">
        <path d="M54 5.2c-8.6-.3-14.4 4.6-17.5 14.6 1.6-.7 3.1-1 4.6-1 3.2 0 4.5 1.8 4.2 5.3-.2 2.1-1.6 5.3-4.2 9.4-2.6 4.1-4.5 6.1-5.8 6.1-1.7 0-3.2-3.2-4.6-9.5-.5-1.9-1.3-6.6-2.5-14.2-1.2-7.1-4.1-10.4-9-9.9-2 .2-5.1 2-9.2 5.6l-9 8.1 2.9 3.8c2.8-1.9 4.4-2.9 4.9-2.9 2.1 0 4.1 3.3 6 10 1.7 6.1 3.3 12.2 5 18.4 2.5 6.7 5.6 10 9.2 10 5.8 0 13-5.5 21.4-16.4 8.1-10.7 12.3-19 12.6-25 .3-8.1-2.7-12.2-9-12.4z"/>
    </symbol>
    <symbol id="sociaux_yt" viewBox="0 0 64 64">
        <path d="M62.4 16.7c-.7-2.7-2.9-4.9-5.6-5.6C51.9 9.8 32 9.8 32 9.8s-19.9 0-24.8 1.3c-2.7.7-4.9 2.9-5.6 5.6C.3 21.7.3 32 .3 32s0 10.3 1.3 15.3c.7 2.7 2.9 4.9 5.6 5.6 5 1.3 24.8 1.3 24.8 1.3s19.9 0 24.8-1.3c2.7-.7 4.9-2.9 5.6-5.6 1.3-5 1.3-15.3 1.3-15.3s0-10.3-1.3-15.3zM25.7 41.5v-19L42.1 32l-16.4 9.5z" />
    </symbol>]
</svg>