[(#REM) <!-- Logo / Nom du site --> ]
<div class="accueil">
	<a rel="start home" href="#URL_SITE_SPIP/" title="<:accueil_site:>">
		<span class="invisible">#NOM_SITE_SPIP[
			<small>(#SLOGAN_SITE_SPIP)</small>
		]</span>
		[(#LOGO_SITE_SPIP|adaptive_images{150})]
	</a>
</div>